In [48]:
import sqlite3
import pandas as pd
from datetime import datetime

In [2]:
# Connection à la db, crée le fichier s'il n'existe pas déjà
conn = sqlite3.connect('db_foot.sqlite3') 
c = conn.cursor()

In [3]:
# Requètes de creation des différentes tables
championships = '''CREATE TABLE IF NOT EXISTS championships (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR,
    country VARCHAR,
    start_year INTEGER,
    end_year INTEGER,
    created_at TIMESTAMP,
    updated_at TIMESTAMP)'''
teams = '''CREATE TABLE IF NOT EXISTS teams (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    championship_id INTEGER,
    name VARCHARD,
    city VARCHAR,
    coach_name VARCHAR,
    rank INTEGER,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    FOREIGN KEY(championship_id) REFERENCES championships(id))'''
players = '''CREATE TABLE IF NOT EXISTS players (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    full_name VARCHAR,
    birthdate DATE,
    team_id INTEGER,
    position VARCHAR,
    nationality VARCHAR,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    FOREIGN KEY(team_id) REFERENCES teams(id))'''
goals = '''CREATE TABLE IF NOT EXISTS goals (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    match_id INTEGER,
    player_id INTEGER,
    goal_type VARCHAR,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    FOREIGN KEY (player_id) REFERENCES players(id),
    FOREIGN KEY (match_id) REFERENCES matchs(id))'''
matchs = '''CREATE TABLE IF NOT EXISTS matchs(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date DATIME,
    place VARCHAR,
    rainfall FLOAT,
    temperature FLOAT,
    created_at TIMESTAMP,
    updated_at TIMESTAMP)'''
teams_matches = '''CREATE TABLE IF NOT EXISTS teams_matches (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    match_id INTEGER,
    team_id INTEGER,
    home BOOLEAN,
    team_goals INTEGER,
    points INTEGER,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    FOREIGN KEY (team_id) REFERENCES teams(id)
    FOREIGN KEY (match_id) REFERENCES matchs(id))'''

In [4]:
# Fonctions de création et de suppression de table
def create_table(query):
    '''Create table from query specified'''
    c.execute(query)
    conn.commit()

def drop_table(table_name):
    '''Drop table specified'''
    c.execute('''DROP TABLE %s''' % (table_name,))
    conn.commit()

In [5]:
# Fonction d'insertion 
def add_championship(name, country, start_year, end_year):
    '''Add championship in table championships with values specified'''
    c.execute('''INSERT INTO championships (name, country, start_year, end_year, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)''', (name,country,start_year,end_year))
    conn.commit()

In [6]:
# Version pandas
def insert_table(my_df, my_table):
  '''Insert Dataframe into table specified'''
  my_df.to_sql(my_table, conn, if_exists='append', index=False)

def read_db(my_query):
  '''Read sql query, read the db an return response in a dataframe'''
  df = pd.read_sql(my_query, conn)
  return df

In [7]:
# Sandbox
# drop_table('players')
# create_table(championships)
# create_table(matchs)
# create_table(teams)
# create_table(players)
# create_table(goals)
# create_table(teams_matches)

#add_championship('Ligue 1', 'France', 2020, 2021)

In [8]:
# Lis le contenu de la table
df_championships = read_db('''SELECT * FROM championships''')
df_championships

,id,name,country,start_year,end_year,created_at,updated_at
0,1,Ligue 1,France,2020,2021,2021-06-28 12:56:07,2021-06-28 12:56:07

In [9]:
# Recup id et nom dans un dict
championships_dict = {}
for championship in range(len(df_championships)):
    championship_dict = {df_championships.iloc[championship,1] : df_championships.iloc[championship, 0]}
    championships_dict.update(championship_dict)
championships_dict

{'Ligue 1': 1}

In [10]:
df_matchs = pd.read_csv('match_table.csv')
df_matchs.drop(['Unnamed: 0'], axis=1, inplace=True)

In [11]:
df_matchs

,date,place,rainfall,temperature,created_at,updated_at
0,2020-08-21 19:00:00+02:00,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
1,2020-08-22 17:00:00+02:00,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
2,2020-08-22 21:00:00+02:00,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
3,2020-08-23 13:00:00+02:00,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
4,2020-08-23 15:00:00+02:00,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
...,...,...,...,...,...,...
375,2021-05-23 21:00:00+02:00,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
376,2021-05-23 21:00:00+02:00,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
377,2021-05-23 21:00:00+02:00,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46
378,2021-05-23 21:00:00+02:00,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
379,2021-05-23 21:00:00+02:00,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46

In [12]:
#insert_table(df_matchs, 'matchs')

read_db('''SELECT * FROM matchs''')

,id,date,place,rainfall,temperature,created_at,updated_at
0,1,2020-08-21 19:00:00+02:00,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
1,2,2020-08-22 17:00:00+02:00,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
2,3,2020-08-22 21:00:00+02:00,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
3,4,2020-08-23 13:00:00+02:00,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
4,5,2020-08-23 15:00:00+02:00,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
...,...,...,...,...,...,...,...
375,376,2021-05-23 21:00:00+02:00,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
376,377,2021-05-23 21:00:00+02:00,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
377,378,2021-05-23 21:00:00+02:00,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46
378,379,2021-05-23 21:00:00+02:00,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
379,380,2021-05-23 21:00:00+02:00,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46

In [13]:
df_teams = pd.read_csv('table_teams.csv', index_col=0)
df_teams

,championship_id,name,city,coach_name,rank,created_at,updated_at
0,Ligue 1,Angers Sporting Club de l'Ouest,Angers,Gérald BATICLE,44,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
1,Ligue 1,Football Club des Girondins de Bordeaux,Bordeaux,Jean-Louis GASSET,45,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
2,Ligue 1,Stade Brestois 29,Brest,Michel DER ZAKARIAN,41,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
3,Ligue 1,Dijon Football Côte-d'Or,Dijon,David LINARES,21,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
4,Ligue 1,Racing Club de Lens,Lens,Franck HAISE,57,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
5,Ligue 1,LOSC Lille,Lille,Christophe GALTIER,83,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
6,Ligue 1,Football Club Lorient-Bretagne Sud,Lorient,Christophe PELISSIER,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
7,Ligue 1,Olympique Lyonnais,Lyon,Peter BOSZ,76,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
8,Ligue 1,Olympique de Marseille,Marseille,Jorge SAMPAOLI,60,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
9,Ligue 1,Football Club de Metz,Metz,Frédéric ANTONETTI,47,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
10,Ligue 1,Association sportive de Monaco FC,Monaco,Niko KOVAC,78,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
11,Ligue 1,Montpellier-Herault Sport Club,Montpellier,Olivier DALL'OGLIO,54,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
12,Ligue 1,Football Club de Nantes,Nantes,Antoine KOMBOUARE,40,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
13,Ligue 1,Olympique Gymnaste Club Nice Côte d'Azur,Nice,Adrian URSEA,52,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
14,Ligue 1,Nîmes Olympique,Nîmes,Pascal PLANCQUE,35,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
15,Ligue 1,Paris-Saint-Germain Football Club,Paris,Mauricio POCHETTINO,82,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
16,Ligue 1,Stade de Reims,Reims,Oscar GARCIA,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
17,Ligue 1,Stade Rennais Football Club,Rennes,Bruno GENESIO,58,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
18,Ligue 1,Association Sportive de St-Etienne,Saint-Étienne,Claude PUEL,46,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
19,Ligue 1,Racing Club de Strasbourg Alsace,Strasbourg,Julien STEPHAN,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113

In [14]:
#map colonne avec dictionnaire des ids
df_teams['championship_id'] = df_teams['championship_id'].map(championships_dict)
df_teams

,championship_id,name,city,coach_name,rank,created_at,updated_at
0,1,Angers Sporting Club de l'Ouest,Angers,Gérald BATICLE,44,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
1,1,Football Club des Girondins de Bordeaux,Bordeaux,Jean-Louis GASSET,45,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
2,1,Stade Brestois 29,Brest,Michel DER ZAKARIAN,41,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
3,1,Dijon Football Côte-d'Or,Dijon,David LINARES,21,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
4,1,Racing Club de Lens,Lens,Franck HAISE,57,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
5,1,LOSC Lille,Lille,Christophe GALTIER,83,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
6,1,Football Club Lorient-Bretagne Sud,Lorient,Christophe PELISSIER,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
7,1,Olympique Lyonnais,Lyon,Peter BOSZ,76,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
8,1,Olympique de Marseille,Marseille,Jorge SAMPAOLI,60,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
9,1,Football Club de Metz,Metz,Frédéric ANTONETTI,47,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
10,1,Association sportive de Monaco FC,Monaco,Niko KOVAC,78,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
11,1,Montpellier-Herault Sport Club,Montpellier,Olivier DALL'OGLIO,54,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
12,1,Football Club de Nantes,Nantes,Antoine KOMBOUARE,40,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
13,1,Olympique Gymnaste Club Nice Côte d'Azur,Nice,Adrian URSEA,52,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
14,1,Nîmes Olympique,Nîmes,Pascal PLANCQUE,35,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
15,1,Paris-Saint-Germain Football Club,Paris,Mauricio POCHETTINO,82,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
16,1,Stade de Reims,Reims,Oscar GARCIA,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
17,1,Stade Rennais Football Club,Rennes,Bruno GENESIO,58,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
18,1,Association Sportive de St-Etienne,Saint-Étienne,Claude PUEL,46,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
19,1,Racing Club de Strasbourg Alsace,Strasbourg,Julien STEPHAN,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113

In [15]:
#insert_table(df_teams, 'teams')

df_teams_table = read_db('''SELECT * FROM teams''')
df_teams_table

,id,championship_id,name,city,coach_name,rank,created_at,updated_at
0,1,1,Angers Sporting Club de l'Ouest,Angers,Gérald BATICLE,44,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
1,2,1,Football Club des Girondins de Bordeaux,Bordeaux,Jean-Louis GASSET,45,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
2,3,1,Stade Brestois 29,Brest,Michel DER ZAKARIAN,41,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
3,4,1,Dijon Football Côte-d'Or,Dijon,David LINARES,21,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
4,5,1,Racing Club de Lens,Lens,Franck HAISE,57,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
5,6,1,LOSC Lille,Lille,Christophe GALTIER,83,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
6,7,1,Football Club Lorient-Bretagne Sud,Lorient,Christophe PELISSIER,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
7,8,1,Olympique Lyonnais,Lyon,Peter BOSZ,76,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
8,9,1,Olympique de Marseille,Marseille,Jorge SAMPAOLI,60,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
9,10,1,Football Club de Metz,Metz,Frédéric ANTONETTI,47,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
10,11,1,Association sportive de Monaco FC,Monaco,Niko KOVAC,78,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
11,12,1,Montpellier-Herault Sport Club,Montpellier,Olivier DALL'OGLIO,54,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
12,13,1,Football Club de Nantes,Nantes,Antoine KOMBOUARE,40,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
13,14,1,Olympique Gymnaste Club Nice Côte d'Azur,Nice,Adrian URSEA,52,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
14,15,1,Nîmes Olympique,Nîmes,Pascal PLANCQUE,35,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
15,16,1,Paris-Saint-Germain Football Club,Paris,Mauricio POCHETTINO,82,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
16,17,1,Stade de Reims,Reims,Oscar GARCIA,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
17,18,1,Stade Rennais Football Club,Rennes,Bruno GENESIO,58,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
18,19,1,Association Sportive de St-Etienne,Saint-Étienne,Claude PUEL,46,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
19,20,1,Racing Club de Strasbourg Alsace,Strasbourg,Julien STEPHAN,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113

In [16]:
# Recup id et nom dans un dict
teams_dict = {}
for team in range(len(df_teams_table)):
    team_dict = {
        df_teams_table.iloc[team, 2]: df_teams_table.iloc[team, 0]}
    teams_dict.update(team_dict)
teams_dict

{"Angers Sporting Club de l'Ouest": 1,
 'Football Club des Girondins de Bordeaux': 2,
 'Stade Brestois 29': 3,
 "Dijon Football Côte-d'Or": 4,
 'Racing Club de Lens': 5,
 'LOSC Lille': 6,
 'Football Club Lorient-Bretagne Sud': 7,
 'Olympique Lyonnais': 8,
 'Olympique de Marseille': 9,
 'Football Club de Metz': 10,
 'Association sportive de Monaco FC': 11,
 'Montpellier-Herault Sport Club': 12,
 'Football Club de Nantes': 13,
 "Olympique Gymnaste Club Nice Côte d'Azur": 14,
 'Nîmes Olympique': 15,
 'Paris-Saint-Germain Football Club': 16,
 'Stade de Reims': 17,
 'Stade Rennais Football Club': 18,
 'Association Sportive de St-Etienne': 19,
 'Racing Club de Strasbourg Alsace': 20}

In [17]:
df_players = pd.read_csv('table_players.csv', index_col=0)
df_players

,full_name,birthdate,team_id,position,nationality,created_at,updated_at
0,P. Bernardoni,18/04/97,Angers Sporting Club de l'Ouest,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
1,L. Butelle,3/04/83,Angers Sporting Club de l'Ouest,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
2,D. Petkovic,25/05/93,Angers Sporting Club de l'Ouest,Gar.,MNE,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
3,A. Bamba,25/04/90,Angers Sporting Club de l'Ouest,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
4,K. Boma,20/11/02,Angers Sporting Club de l'Ouest,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
...,...,...,...,...,...,...,...
642,L. Mothiba,28/01/96,Racing Club de Strasbourg Alsace,Att.,AFS,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
643,I. Saadi,8/02/92,Racing Club de Strasbourg Alsace,Att.,ALG,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
644,M. Sahi,20/12/01,Racing Club de Strasbourg Alsace,Att.,MLI,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
645,A. Waris,19/09/91,Racing Club de Strasbourg Alsace,Att.,GHA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
646,K. Zohi,19/12/96,Racing Club de Strasbourg Alsace,Att.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645

In [18]:
df_players['team_id'] = df_players['team_id'].map(teams_dict)
df_players

,full_name,birthdate,team_id,position,nationality,created_at,updated_at
0,P. Bernardoni,18/04/97,1,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
1,L. Butelle,3/04/83,1,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
2,D. Petkovic,25/05/93,1,Gar.,MNE,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
3,A. Bamba,25/04/90,1,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
4,K. Boma,20/11/02,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
...,...,...,...,...,...,...,...
642,L. Mothiba,28/01/96,20,Att.,AFS,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
643,I. Saadi,8/02/92,20,Att.,ALG,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
644,M. Sahi,20/12/01,20,Att.,MLI,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
645,A. Waris,19/09/91,20,Att.,GHA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
646,K. Zohi,19/12/96,20,Att.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645

In [19]:
# insert_table(df_players, 'players')

df_players_table = read_db('''SELECT * FROM players''')
df_players_table.head(40)

,id,full_name,birthdate,team_id,position,nationality,created_at,updated_at
0,1,P. Bernardoni,18/04/97,1,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
1,2,L. Butelle,3/04/83,1,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
2,3,D. Petkovic,25/05/93,1,Gar.,MNE,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
3,4,A. Bamba,25/04/90,1,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
4,5,K. Boma,20/11/02,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
5,6,E. Diaw,31/12/94,1,Déf.,SEN,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
6,7,S. Doumbia,24/09/96,1,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
7,8,I. Dramé,None,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
8,9,E. Ebosse,11/03/99,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
9,10,O. Falouh,12/07/99,1,Déf.,MAR,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
10,11,V. Manceau,10/07/89,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
11,12,M. Pavlovic,9/06/90,1,Déf.,CRO,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
12,13,R. Thomas,12/06/88,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
13,14,I. Traoré,18/08/86,1,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
14,15,I. Amadou,6/04/93,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
15,16,K. Bemanga,20/04/98,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
16,17,A. Bobichon,14/09/95,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
17,18,S. Boufal,17/09/93,1,Mil.,MAR,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
18,19,J. Cabot,18/04/94,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
19,20,P. Capelle,15/04/87,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
20,21,M. Cho,19/01/04,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
21,22,L. Coulibaly,10/04/96,1,Mil.,MLI,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
22,23,A. Fulgini,20/08/96,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
23,24,T. Mangani,29/04/87,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
24,25,K. Mouanga,24/07/00,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
25,26,Z. Ould Khaled,14/01/00,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
26,27,M. Pereira Lage,30/11/96,1,Mil.,POR,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
27,28,W. Taïbi,7/03/02,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
28,29,R. Alioui,18/06/92,1,Att.,MAR,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
29,30,S. Bahoken,28/05/92,1,Att.,CAM,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
30,31,L. Diony,20/12/92,1,Att.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
31,32,F. El-Melali,13/07/97,1,Att.,ALG,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
32,33,N. Fatar,15/02/02,1,Att.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
33,34,Y. Fortuné,30/01/99,1,Att.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
34,35,S. Thioub,1/06/95,1,Att.,SEN,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
35,36,B. Costil,3/07/87,2,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
36,37,D. Lima Semedo,27/04/02,2,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
37,38,C. Michel,20/03/00,2,Gar.,BEL,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
38,39,G. Poussin,13/01/99,2,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
39,40,D. Rouyard,17/08/99,2,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645

In [28]:
df_matchs_table = read_db('SELECT * FROM matchs')
df_matchs

,id,date,place,rainfall,temperature,created_at,updated_at,match
0,1,2020-08-21 19:00:00+02:00,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-21 19:00:00+02:00 Bordeaux
1,2,2020-08-22 17:00:00+02:00,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 17:00:00+02:00 Dijon
2,3,2020-08-22 21:00:00+02:00,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 21:00:00+02:00 Lille
3,4,2020-08-23 13:00:00+02:00,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 13:00:00+02:00 Monaco
4,5,2020-08-23 15:00:00+02:00,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 15:00:00+02:00 Lorient
...,...,...,...,...,...,...,...,...
375,376,2021-05-23 21:00:00+02:00,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Rennes
376,377,2021-05-23 21:00:00+02:00,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Nantes
377,378,2021-05-23 21:00:00+02:00,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Saint-Étienne
378,379,2021-05-23 21:00:00+02:00,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Reims
379,380,2021-05-23 21:00:00+02:00,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Strasbourg

In [30]:
df_matchs_table['match'] = df_matchs_table['date'].astype(str) + ' ' + df_matchs_table['place']
df_matchs_table

,id,date,place,rainfall,temperature,created_at,updated_at,match
0,1,2020-08-21 19:00:00+02:00,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-21 19:00:00+02:00 Bordeaux
1,2,2020-08-22 17:00:00+02:00,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 17:00:00+02:00 Dijon
2,3,2020-08-22 21:00:00+02:00,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 21:00:00+02:00 Lille
3,4,2020-08-23 13:00:00+02:00,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 13:00:00+02:00 Monaco
4,5,2020-08-23 15:00:00+02:00,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 15:00:00+02:00 Lorient
...,...,...,...,...,...,...,...,...
375,376,2021-05-23 21:00:00+02:00,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Rennes
376,377,2021-05-23 21:00:00+02:00,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Nantes
377,378,2021-05-23 21:00:00+02:00,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Saint-Étienne
378,379,2021-05-23 21:00:00+02:00,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Reims
379,380,2021-05-23 21:00:00+02:00,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Strasbourg

In [34]:
matchs_dict = {}
for match in range(len(df_matchs_table)):
    match_dict = {
        df_matchs_table.iloc[match, 7]: df_matchs_table.iloc[match, 0]}
    matchs_dict.update(match_dict)
matchs_dict

{'2020-08-21 19:00:00+02:00 Bordeaux': 1,
 '2020-08-22 17:00:00+02:00 Dijon': 2,
 '2020-08-22 21:00:00+02:00 Lille': 3,
 '2020-08-23 13:00:00+02:00 Monaco': 4,
 '2020-08-23 15:00:00+02:00 Lorient': 5,
 '2020-08-23 15:00:00+02:00 Nîmes': 6,
 '2020-08-23 17:00:00+02:00 Nice': 7,
 '2020-09-15 21:00:00+02:00 Montpellier': 8,
 '2020-09-16 21:00:00+02:00 Paris': 9,
 '2020-09-17 21:00:00+02:00 Marseille': 10,
 '2020-08-28 21:00:00+02:00 Lyon': 11,
 '2020-08-29 17:00:00+02:00 Rennes': 12,
 '2020-08-29 21:00:00+02:00 Strasbourg': 13,
 '2020-08-30 13:00:00+02:00 Reims': 14,
 '2020-08-30 15:00:00+02:00 Nantes': 15,
 '2020-08-30 15:00:00+02:00 Saint-Étienne': 16,
 '2020-08-30 15:00:00+02:00 Angers': 17,
 '2020-08-30 15:00:00+02:00 Metz': 18,
 '2020-08-30 21:00:00+02:00 Brest': 19,
 '2020-09-10 21:00:00+02:00 Lens': 20,
 '2020-09-11 21:00:00+02:00 Bordeaux': 21,
 '2020-09-12 17:00:00+02:00 Montpellier': 22,
 '2020-09-12 21:00:00+02:00 Saint-Étienne': 23,
 '2020-09-13 13:00:00+02:00 Lille': 24,
 '2020-09-13 15:00:00+02:00 Nîmes': 25,
 '2020-09-13 15:00:00+02:00 Lorient': 26,
 '2020-09-13 15:00:00+02:00 Angers': 27,
 '2020-09-13 15:00:00+02:00 Dijon': 28,
 '2020-09-13 17:00:00+02:00 Monaco': 29,
 '2020-09-13 21:00:00+02:00 Paris': 30,
 '2020-09-18 21:00:00+02:00 Lyon': 31,
 '2020-09-19 17:00:00+02:00 Lens': 32,
 '2020-09-19 21:00:00+02:00 Rennes': 33,
 '2020-09-20 13:00:00+02:00 Nice': 34,
 '2020-09-20 15:00:00+02:00 Montpellier': 35,
 '2020-09-20 15:00:00+02:00 Brest': 36,
 '2020-09-20 15:00:00+02:00 Metz': 37,
 '2020-09-20 15:00:00+02:00 Strasbourg': 38,
 '2020-09-20 17:00:00+02:00 Nantes': 39,
 '2020-09-20 21:00:00+02:00 Marseille': 40,
 '2020-09-25 21:00:00+02:00 Lille': 41,
 '2020-09-26 17:00:00+02:00 Saint-Étienne': 42,
 '2020-09-26 21:00:00+02:00 Marseille': 43,
 '2020-09-27 13:00:00+02:00 Bordeaux': 44,
 '2020-09-27 15:00:00+02:00 Dijon': 45,
 '2020-09-27 15:00:00+02:00 Nîmes': 46,
 '2020-09-27 15:00:00+02:00 Monaco': 47,
 '2020-09-27 15:00:00+02:00 Angers': 48,
 '2020-09-27 17:00:00+02:00 Lorient': 49,
 '2020-09-27 21:00:00+02:00 Reims': 50,
 '2020-10-02 21:00:00+02:00 Paris': 51,
 '2020-10-03 17:00:00+02:00 Lens': 52,
 '2020-10-03 21:00:00+02:00 Nice': 53,
 '2020-10-04 13:00:00+02:00 Montpellier': 54,
 '2020-10-04 15:00:00+02:00 Strasbourg': 55,
 '2020-10-04 15:00:00+02:00 Brest': 56,
 '2020-10-04 15:00:00+02:00 Bordeaux': 57,
 '2020-10-04 15:00:00+02:00 Metz': 58,
 '2020-10-04 17:00:00+02:00 Rennes': 59,
 '2020-10-04 21:00:00+02:00 Lyon': 60,
 '2020-10-16 19:00:00+02:00 Dijon': 61,
 '2020-10-16 21:00:00+02:00 Nîmes': 62,
 '2020-10-17 17:00:00+02:00 Reims': 63,
 '2020-10-17 21:00:00+02:00 Marseille': 64,
 '2020-10-18 13:00:00+02:00 Strasbourg': 65,
 '2020-10-18 15:00:00+02:00 Monaco': 66,
 '2020-10-18 15:00:00+02:00 Nantes': 67,
 '2020-10-18 15:00:00+02:00 Angers': 68,
 '2020-10-18 17:00:00+02:00 Saint-Étienne': 69,
 '2020-10-18 21:00:00+02:00 Lille': 70,
 '2020-10-23 21:00:00+02:00 Rennes': 71,
 '2020-10-24 17:00:00+02:00 Lorient': 72,
 '2020-10-24 21:00:00+02:00 Paris': 73,
 '2020-10-25 15:00:00+01:00 Montpellier': 74,
 '2020-10-25 15:00:00+01:00 Metz': 75,
 '2020-10-25 15:00:00+01:00 Bordeaux': 76,
 '2020-10-25 15:00:00+01:00 Brest': 77,
 '2020-10-25 17:00:00+01:00 Nice': 78,
 '2020-10-25 21:00:00+01:00 Lyon': 79,
 '2020-11-25 19:00:00+01:00 Lens': 80,
 '2020-10-31 17:00:00+01:00 Rennes': 81,
 '2020-10-31 21:00:00+01:00 Nantes': 82,
 '2020-11-01 13:00:00+01:00 Saint-Étienne': 83,
 '2020-11-01 15:00:00+01:00 Angers': 84,
 '2020-11-01 15:00:00+01:00 Nîmes': 85,
 '2020-11-01 15:00:00+01:00 Dijon': 86,
 '2020-11-01 15:00:00+01:00 Reims': 87,
 '2020-11-01 17:00:00+01:00 Monaco': 88,
 '2020-11-01 21:00:00+01:00 Lille': 89,
 '2021-01-20 21:00:00+01:00 Marseille': 90,
 '2020-11-06 21:00:00+01:00 Strasbourg': 91,
 '2020-11-07 17:00:00+01:00 Bordeaux': 92,
 '2020-11-07 21:00:00+01:00 Paris': 93,
 '2020-11-08 13:00:00+01:00 Brest': 94,
 '2020-11-08 15:00:00+01:00 Lens': 95,
 '2020-11-08 15:00:00+01:00 Metz': 96,
 '2020-11-08 15:00:00+01:00 Nîmes': 97,
 '2020-11-08 15:00:00+01:00 Lorient': 98,
 '2020-11-08 17:00:00+01:00 Nice': 99,
 '2020-11-08 21:00:00+01:00 Lyon': 100,
 '2020-11-20 19:00:00+01:00 Rennes': 101,
 '2020-11-20 21:00:00+01:00 Monaco': 102,
 '2020-11-21 17:00:00+01:00 Brest': 103,
 '2020-11-22 13:00:00+01:00 Nantes': 104,
 '2020-11-22 15:00:00+01:00 Montpellier': 105,
 '2020-11-22 15:00:00+01:00 Dijon': 106,
 '2020-11-22 15:00:00+01:00 Reims': 107,
 '2020-11-22 17:00:00+01:00 Angers': 108,
 '2020-11-22 21:00:00+01:00 Lille': 109,
 '2021-02-17 21:00:00+01:00 Marseille': 110,
 '2020-11-27 21:00:00+01:00 Strasbourg': 111,
 '2020-11-28 17:00:00+01:00 Marseille': 112,
 '2020-11-28 21:00:00+01:00 Paris': 113,
 '2020-11-29 13:00:00+01:00 Lyon': 114,
 '2020-11-29 15:00:00+01:00 Lens': 115,
 '2020-11-29 15:00:00+01:00 Lorient': 116,
 '2020-11-29 15:00:00+01:00 Monaco': 117,
 '2020-11-29 15:00:00+01:00 Metz': 118,
 '2020-11-29 17:00:00+01:00 Nice': 119,
 '2020-11-29 21:00:00+01:00 Saint-Étienne': 120,
 '2020-12-04 21:00:00+01:00 Nîmes': 121,
 '2020-12-05 17:00:00+01:00 Rennes': 122,
 '2020-12-05 21:00:00+01:00 Montpellier': 123,
 '2020-12-06 13:00:00+01:00 Lille': 124,
 '2020-12-06 15:00:00+01:00 Angers': 125,
 '2020-12-06 15:00:00+01:00 Bordeaux': 126,
 '2020-12-06 15:00:00+01:00 Nantes': 127,
 '2020-12-06 15:00:00+01:00 Dijon': 128,
 '2020-12-06 17:00:00+01:00 Reims': 129,
 '2020-12-06 21:00:00+01:00 Metz': 130,
 '2020-12-11 21:00:00+01:00 Saint-Étienne': 131,
 '2020-12-12 17:00:00+01:00 Marseille': 132,
 '2020-12-12 21:00:00+01:00 Lens': 133,
 '2020-12-13 13:00:00+01:00 Nice': 134,
 '2020-12-13 15:00:00+01:00 Brest': 135,
 '2020-12-13 15:00:00+01:00 Strasbourg': 136,
 '2020-12-13 15:00:00+01:00 Nantes': 137,
 '2020-12-13 15:00:00+01:00 Lorient': 138,
 '2020-12-13 17:00:00+01:00 Lille': 139,
 '2020-12-13 21:00:00+01:00 Paris': 140,
 '2020-12-16 19:00:00+01:00 Dijon': 141,
 '2020-12-16 19:00:00+01:00 Montpellier': 142,
 '2020-12-16 19:00:00+01:00 Angers': 143,
 '2020-12-16 19:00:00+01:00 Nîmes': 144,
 '2020-12-16 19:00:00+01:00 Reims': 145,
 '2020-12-16 21:00:00+01:00 Lyon': 146,
 '2020-12-16 21:00:00+01:00 Paris': 147,
 '2020-12-16 21:00:00+01:00 Rennes': 148,
 '2020-12-16 21:00:00+01:00 Monaco': 149,
 '2020-12-16 21:00:00+01:00 Bordeaux': 150,
 '2020-12-19 17:00:00+01:00 Metz': 151,
 '2020-12-19 19:00:00+01:00 Marseille': 152,
 '2020-12-19 21:00:00+01:00 Nice': 153,
 '2020-12-20 13:00:00+01:00 Brest': 154,
 '2020-12-20 15:00:00+01:00 Dijon': 155,
 '2020-12-20 15:00:00+01:00 Nantes': 156,
 '2020-12-20 15:00:00+01:00 Strasbourg': 157,
 '2020-12-20 15:00:00+01:00 Saint-Étienne': 158,
 '2020-12-20 17:00:00+01:00 Lorient': 159,
 '2020-12-20 21:00:00+01:00 Lille': 160,
 '2020-12-23 19:00:00+01:00 Rennes': 161,
 '2020-12-23 19:00:00+01:00 Lens': 162,
 '2020-12-23 19:00:00+01:00 Bordeaux': 163,
 '2020-12-23 19:00:00+01:00 Nice': 164,
 '2020-12-23 19:00:00+01:00 Nîmes': 165,
 '2020-12-23 21:00:00+01:00 Montpellier': 166,
 '2020-12-23 21:00:00+01:00 Lyon': 167,
 '2020-12-23 21:00:00+01:00 Paris': 168,
 '2020-12-23 21:00:00+01:00 Angers': 169,
 '2020-12-23 21:00:00+01:00 Monaco': 170,
 '2021-01-06 19:00:00+01:00 Nantes': 171,
 '2021-01-06 19:00:00+01:00 Lorient': 172,
 '2021-01-06 19:00:00+01:00 Metz': 173,
 '2021-01-06 19:00:00+01:00 Brest': 174,
 '2021-01-06 19:00:00+01:00 Strasbourg': 175,
 '2021-01-06 21:00:00+01:00 Lyon': 176,
 '2021-01-06 21:00:00+01:00 Lille': 177,
 '2021-01-06 21:00:00+01:00 Saint-Étienne': 178,
 '2021-01-06 21:00:00+01:00 Marseille': 179,
 '2021-01-06 21:00:00+01:00 Reims': 180,
 '2021-01-09 21:00:00+01:00 Rennes': 181,
 '2021-01-09 21:00:00+01:00 Paris': 182,
 '2021-01-09 21:00:00+01:00 Nîmes': 183,
 '2021-01-09 21:00:00+01:00 Dijon': 184,
 '2021-01-09 21:00:00+01:00 Monaco': 185,
 '2021-01-09 21:00:00+01:00 Lens': 186,
 '2021-01-09 21:00:00+01:00 Montpellier': 187,
 '2021-01-09 21:00:00+01:00 Metz': 188,
 '2021-01-09 21:00:00+01:00 Bordeaux': 189,
 '2021-01-09 21:00:00+01:00 Reims': 190,
 '2021-01-15 21:00:00+01:00 Montpellier': 191,
 '2021-01-16 17:00:00+01:00 Marseille': 192,
 '2021-01-16 21:00:00+01:00 Angers': 193,
 '2021-01-17 13:00:00+01:00 Brest': 194,
 '2021-01-17 15:00:00+01:00 Nantes': 195,
 '2021-01-17 15:00:00+01:00 Nice': 196,
 '2021-01-17 15:00:00+01:00 Strasbourg': 197,
 '2021-01-17 17:00:00+01:00 Lille': 198,
 '2021-01-17 21:00:00+01:00 Lyon': 199,
 '2021-01-27 21:00:00+01:00 Lorient': 200,
 '2021-01-22 21:00:00+01:00 Paris': 201,
 '2021-01-23 17:00:00+01:00 Lens': 202,
 '2021-01-23 21:00:00+01:00 Monaco': 203,
 '2021-01-24 13:00:00+01:00 Bordeaux': 204,
 '2021-01-24 15:00:00+01:00 Metz': 205,
 '2021-01-24 15:00:00+01:00 Reims': 206,
 '2021-01-24 15:00:00+01:00 Dijon': 207,
 '2021-01-24 17:00:00+01:00 Rennes': 208,
 '2021-01-24 21:00:00+01:00 Saint-Étienne': 209,
 '2021-02-24 19:00:00+01:00 Nîmes': 210,
 '2021-01-29 21:00:00+01:00 Lyon': 211,
 '2021-01-30 17:00:00+01:00 Montpellier': 212,
 '2021-01-31 13:00:00+01:00 Nice': 213,
 '2021-01-31 15:00:00+01:00 Lorient': 214,
 '2021-01-31 15:00:00+01:00 Brest': 215,
 '2021-01-31 15:00:00+01:00 Angers': 216,
 '2021-01-31 15:00:00+01:00 Strasbourg': 217,
 '2021-01-31 17:00:00+01:00 Lille': 218,
 '2021-01-31 21:00:00+01:00 Nantes': 219,
 '2021-03-10 19:00:00+01:00 Marseille': 220,
 '2021-02-03 19:00:00+01:00 Bordeaux': 221,
 '2021-02-03 19:00:00+01:00 Rennes': 222,
 '2021-02-03 19:00:00+01:00 Metz': 223,
 '2021-02-03 19:00:00+01:00 Reims': 224,
 '2021-02-03 19:00:00+01:00 Strasbourg': 225,
 '2021-02-03 21:00:00+01:00 Dijon': 226,
 '2021-02-03 21:00:00+01:00 Paris': 227,
 '2021-02-03 21:00:00+01:00 Monaco': 228,
 '2021-02-03 21:00:00+01:00 Lens': 229,
 '2021-02-03 21:00:00+01:00 Saint-Étienne': 230,
 '2021-02-06 17:00:00+01:00 Lorient': 231,
 '2021-02-06 19:00:00+01:00 Lyon': 232,
 '2021-02-06 21:00:00+01:00 Lens': 233,
 '2021-02-07 13:00:00+01:00 Brest': 234,
 '2021-02-07 15:00:00+01:00 Nîmes': 235,
 '2021-02-07 15:00:00+01:00 Saint-Étienne': 236,
 '2021-02-07 15:00:00+01:00 Nice': 237,
 '2021-02-07 15:00:00+01:00 Montpellier': 238,
 '2021-02-07 17:00:00+01:00 Nantes': 239,
 '2021-02-07 21:00:00+01:00 Marseille': 240,
 '2021-02-13 17:00:00+01:00 Paris': 241,
 '2021-02-13 19:00:00+01:00 Reims': 242,
 '2021-02-13 21:00:00+01:00 Lyon': 243,
 '2021-02-14 13:00:00+01:00 Monaco': 244,
 '2021-02-14 15:00:00+01:00 Rennes': 245,
 '2021-02-14 15:00:00+01:00 Metz': 246,
 '2021-02-14 15:00:00+01:00 Angers': 247,
 '2021-02-14 15:00:00+01:00 Dijon': 248,
 '2021-02-14 17:05:00+01:00 Lille': 249,
 '2021-02-14 21:00:00+01:00 Bordeaux': 250,
 '2021-02-19 21:00:00+01:00 Brest': 251,
 '2021-02-20 13:00:00+01:00 Saint-Étienne': 252,
 '2021-02-20 17:00:00+01:00 Nantes': 253,
 '2021-02-21 13:00:00+01:00 Montpellier': 254,
 '2021-02-21 15:00:00+01:00 Lens': 255,
 '2021-02-21 15:00:00+01:00 Nice': 256,
 '2021-02-21 15:00:00+01:00 Strasbourg': 257,
 '2021-02-21 15:00:00+01:00 Nîmes': 258,
 '2021-02-21 17:05:00+01:00 Lorient': 259,
 '2021-02-21 21:00:00+01:00 Paris': 260,
 '2021-02-26 21:00:00+01:00 Rennes': 261,
 '2021-02-27 13:00:00+01:00 Bordeaux': 262,
 '2021-02-27 17:00:00+01:00 Dijon': 263,
 '2021-02-28 13:00:00+01:00 Monaco': 264,
 '2021-02-28 15:00:00+01:00 Angers': 265,
 '2021-02-28 15:00:00+01:00 Reims': 266,
 '2021-02-28 15:00:00+01:00 Lorient': 267,
 '2021-02-28 15:00:00+01:00 Nîmes': 268,
 '2021-02-28 17:05:00+01:00 Lille': 269,
 '2021-02-28 21:00:00+01:00 Marseille': 270,
 '2021-03-03 19:00:00+01:00 Lyon': 271,
 '2021-03-03 19:00:00+01:00 Metz': 272,
 '2021-03-03 19:00:00+01:00 Saint-Étienne': 273,
 '2021-03-03 19:00:00+01:00 Nice': 274,
 '2021-03-03 19:00:00+01:00 Brest': 275,
 '2021-03-03 21:00:00+01:00 Lille': 276,
 '2021-03-03 21:00:00+01:00 Bordeaux': 277,
 '2021-03-03 21:00:00+01:00 Strasbourg': 278,
 '2021-03-03 21:00:00+01:00 Montpellier': 279,
 '2021-03-03 21:00:00+01:00 Nantes': 280,
 '2021-03-12 21:00:00+01:00 Reims': 281,
 '2021-03-13 13:00:00+01:00 Angers': 282,
 '2021-03-13 17:00:00+01:00 Marseille': 283,
 '2021-03-14 13:00:00+01:00 Nîmes': 284,
 '2021-03-14 15:00:00+01:00 Lens': 285,
 '2021-03-14 15:00:00+01:00 Rennes': 286,
 '2021-03-14 15:00:00+01:00 Lorient': 287,
 '2021-03-14 15:00:00+01:00 Dijon': 288,
 '2021-03-14 17:05:00+01:00 Monaco': 289,
 '2021-03-14 21:00:00+01:00 Paris': 290,
 '2021-03-19 21:00:00+01:00 Saint-Étienne': 291,
 '2021-03-20 13:00:00+01:00 Metz': 292,
 '2021-03-20 17:00:00+01:00 Nice': 293,
 '2021-03-21 13:00:00+01:00 Strasbourg': 294,
 '2021-03-21 15:00:00+01:00 Montpellier': 295,
 '2021-03-21 15:00:00+01:00 Brest': 296,
 '2021-03-21 15:00:00+01:00 Dijon': 297,
 '2021-03-21 15:00:00+01:00 Nantes': 298,
 '2021-03-21 17:05:00+01:00 Lille': 299,
 '2021-03-21 21:00:00+01:00 Lyon': 300,
 '2021-04-03 13:00:00+02:00 Monaco': 301,
 '2021-04-03 17:00:00+02:00 Paris': 302,
 '2021-04-03 21:00:00+02:00 Lens': 303,
 '2021-04-04 13:00:00+02:00 Angers': 304,
 '2021-04-04 15:00:00+02:00 Reims': 305,
 '2021-04-04 15:00:00+02:00 Nantes': 306,
 '2021-04-04 15:00:00+02:00 Bordeaux': 307,
 '2021-04-04 15:00:00+02:00 Lorient': 308,
 '2021-04-04 17:05:00+02:00 Nîmes': 309,
 '2021-04-04 21:00:00+02:00 Marseille': 310,
 '2021-04-09 21:00:00+02:00 Metz': 311,
 '2021-04-10 17:00:00+02:00 Strasbourg': 312,
 '2021-04-10 21:00:00+02:00 Montpellier': 313,
 '2021-04-11 13:00:00+02:00 Rennes': 314,
 '2021-04-11 15:00:00+02:00 Lens': 315,
 '2021-04-11 15:00:00+02:00 Nice': 316,
 '2021-04-11 15:00:00+02:00 Saint-Étienne': 317,
 '2021-04-11 15:00:00+02:00 Brest': 318,
 '2021-04-11 17:05:00+02:00 Monaco': 319,
 '2021-04-11 21:00:00+02:00 Lyon': 320,
 '2021-04-16 21:00:00+02:00 Lille': 321,
 '2021-04-17 12:45:00+02:00 Angers': 322,
 '2021-04-17 17:00:00+02:00 Marseille': 323,
 '2021-04-18 13:00:00+02:00 Paris': 324,
 '2021-04-18 15:00:00+02:00 Brest': 325,
 '2021-04-18 15:00:00+02:00 Dijon': 326,
 '2021-04-18 15:00:00+02:00 Reims': 327,
 '2021-04-18 15:00:00+02:00 Nîmes': 328,
 '2021-04-18 17:05:00+02:00 Bordeaux': 329,
 '2021-04-18 21:00:00+02:00 Nantes': 330,
 '2021-04-23 21:00:00+02:00 Reims': 331,
 '2021-04-24 13:00:00+02:00 Saint-Étienne': 332,
 '2021-04-24 17:00:00+02:00 Metz': 333,
 '2021-04-25 13:00:00+02:00 Nice': 334,
 '2021-04-25 15:00:00+02:00 Lens': 335,
 '2021-04-25 15:00:00+02:00 Rennes': 336,
 '2021-04-25 15:00:00+02:00 Strasbourg': 337,
 '2021-04-25 15:00:00+02:00 Lorient': 338,
 '2021-04-25 17:05:00+02:00 Angers': 339,
 '2021-04-25 21:00:00+02:00 Lyon': 340,
 '2021-04-30 21:00:00+02:00 Marseille': 341,
 '2021-05-01 17:00:00+02:00 Paris': 342,
 '2021-05-01 21:00:00+02:00 Lille': 343,
 '2021-05-02 13:00:00+02:00 Bordeaux': 344,
 '2021-05-02 15:00:00+02:00 Dijon': 345,
 '2021-05-02 15:00:00+02:00 Nîmes': 346,
 '2021-05-02 15:00:00+02:00 Lorient': 347,
 '2021-05-02 15:00:00+02:00 Brest': 348,
 '2021-05-02 17:05:00+02:00 Montpellier': 349,
 '2021-05-02 21:00:00+02:00 Monaco': 350,
 '2021-05-07 21:00:00+02:00 Lens': 351,
 '2021-05-08 13:00:00+02:00 Nantes': 352,
 '2021-05-08 17:00:00+02:00 Lyon': 353,
 '2021-05-09 13:00:00+02:00 Saint-Étienne': 354,
 '2021-05-09 15:00:00+02:00 Strasbourg': 355,
 '2021-05-09 15:00:00+02:00 Metz': 356,
 '2021-05-09 15:00:00+02:00 Nice': 357,
 '2021-05-09 15:00:00+02:00 Angers': 358,
 '2021-05-09 17:05:00+02:00 Reims': 359,
 '2021-05-09 21:00:00+02:00 Rennes': 360,
 '2021-05-16 21:00:00+02:00 Lille': 361,
 '2021-05-16 21:00:00+02:00 Paris': 362,
 '2021-05-16 21:00:00+02:00 Monaco': 363,
 '2021-05-16 21:00:00+02:00 Nîmes': 364,
 '2021-05-16 21:00:00+02:00 Marseille': 365,
 '2021-05-16 21:00:00+02:00 Bordeaux': 366,
 '2021-05-16 21:00:00+02:00 Montpellier': 367,
 '2021-05-16 21:00:00+02:00 Nice': 368,
 '2021-05-16 21:00:00+02:00 Lorient': 369,
 '2021-05-16 21:00:00+02:00 Dijon': 370,
 '2021-05-23 21:00:00+02:00 Angers': 371,
 '2021-05-23 21:00:00+02:00 Brest': 372,
 '2021-05-23 21:00:00+02:00 Lens': 373,
 '2021-05-23 21:00:00+02:00 Lyon': 374,
 '2021-05-23 21:00:00+02:00 Metz': 375,
 '2021-05-23 21:00:00+02:00 Rennes': 376,
 '2021-05-23 21:00:00+02:00 Nantes': 377,
 '2021-05-23 21:00:00+02:00 Saint-Étienne': 378,
 '2021-05-23 21:00:00+02:00 Reims': 379,
 '2021-05-23 21:00:00+02:00 Strasbourg': 380}

In [35]:
teams_matchs_dict = {}
for team in range(len(df_teams_table)):
    team_dict = {
        df_teams_table.iloc[team, 3]: df_teams_table.iloc[team, 0]}
    teams_matchs_dict.update(team_dict)
teams_matchs_dict

{'Angers': 1,
 'Bordeaux': 2,
 'Brest': 3,
 'Dijon': 4,
 'Lens': 5,
 'Lille': 6,
 'Lorient': 7,
 'Lyon': 8,
 'Marseille': 9,
 'Metz': 10,
 'Monaco': 11,
 'Montpellier': 12,
 'Nantes': 13,
 'Nice': 14,
 'Nîmes': 15,
 'Paris': 16,
 'Reims': 17,
 'Rennes': 18,
 'Saint-Étienne': 19,
 'Strasbourg': 20}

In [38]:
df_teams_matches = pd.read_csv('teams_matches_table.csv', index_col=0)
df_teams_matches

,match_id,team_id,home,team_goals,points,created_at,updated_at
0,2020-08-21 19:00:00+02:00 Bordeaux,Bordeaux,True,0,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
1,2020-08-22 17:00:00+02:00 Dijon,Dijon,True,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
2,2020-08-22 21:00:00+02:00 Lille,Lille,True,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
3,2020-08-23 13:00:00+02:00 Monaco,Monaco,True,2,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
4,2020-08-23 15:00:00+02:00 Lorient,Lorient,True,3,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
...,...,...,...,...,...,...,...
755,2021-05-23 21:00:00+02:00 Rennes,Nîmes,False,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
756,2021-05-23 21:00:00+02:00 Nantes,Montpellier,False,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
757,2021-05-23 21:00:00+02:00 Saint-Étienne,Dijon,False,1,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
758,2021-05-23 21:00:00+02:00 Reims,Bordeaux,False,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
759,2021-05-23 21:00:00+02:00 Strasbourg,Lorient,False,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565

In [39]:
df_teams_matches['match_id'] = df_teams_matches['match_id'].map(matchs_dict)
df_teams_matches['team_id'] = df_teams_matches['team_id'].map(teams_matchs_dict)
df_teams_matches

,match_id,team_id,home,team_goals,points,created_at,updated_at
0,1,2,True,0,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
1,2,4,True,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
2,3,6,True,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
3,4,11,True,2,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
4,5,7,True,3,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
...,...,...,...,...,...,...,...
755,376,15,False,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
756,377,12,False,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
757,378,4,False,1,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
758,379,2,False,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
759,380,7,False,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565

In [40]:
#insert_table(df_teams_matches, 'teams_matches')

read_db('SELECT * FROM teams_matches')

,id,match_id,team_id,home,team_goals,points,created_at,updated_at
0,1,1,2,1,0,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
1,2,2,4,1,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
2,3,3,6,1,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
3,4,4,11,1,2,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
4,5,5,7,1,3,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
...,...,...,...,...,...,...,...,...
755,756,376,15,0,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
756,757,377,12,0,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
757,758,378,4,0,1,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
758,759,379,2,0,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
759,760,380,7,0,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565

In [61]:
df_matchs_table_bis = read_db('SELECT * FROM matchs')
df_matchs_table_bis['date'] = pd.to_datetime(
    df_matchs_table_bis['date'], format="%Y-%m-%d %H:%M:%S%z").apply(lambda x: x.date())

df_matchs_table_bis['match'] = df_matchs_table_bis['date'].astype(
    str) + ' ' + df_matchs_table_bis['place']
df_matchs_table_bis

,id,date,place,rainfall,temperature,created_at,updated_at,match
0,1,2020-08-21,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-21 Bordeaux
1,2,2020-08-22,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 Dijon
2,3,2020-08-22,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 Lille
3,4,2020-08-23,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 Monaco
4,5,2020-08-23,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 Lorient
...,...,...,...,...,...,...,...,...
375,376,2021-05-23,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 Rennes
376,377,2021-05-23,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 Nantes
377,378,2021-05-23,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 Saint-Étienne
378,379,2021-05-23,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 Reims
379,380,2021-05-23,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 Strasbourg

In [62]:
matchs_goals_dict = {}
for match in range(len(df_matchs_table_bis)):
    match_dict = {
        df_matchs_table_bis.iloc[match, 7]: df_matchs_table_bis.iloc[match, 0]}
    matchs_goals_dict.update(match_dict)
matchs_goals_dict

{'2020-08-21 Bordeaux': 1,
 '2020-08-22 Dijon': 2,
 '2020-08-22 Lille': 3,
 '2020-08-23 Monaco': 4,
 '2020-08-23 Lorient': 5,
 '2020-08-23 Nîmes': 6,
 '2020-08-23 Nice': 7,
 '2020-09-15 Montpellier': 8,
 '2020-09-16 Paris': 9,
 '2020-09-17 Marseille': 10,
 '2020-08-28 Lyon': 11,
 '2020-08-29 Rennes': 12,
 '2020-08-29 Strasbourg': 13,
 '2020-08-30 Reims': 14,
 '2020-08-30 Nantes': 15,
 '2020-08-30 Saint-Étienne': 16,
 '2020-08-30 Angers': 17,
 '2020-08-30 Metz': 18,
 '2020-08-30 Brest': 19,
 '2020-09-10 Lens': 20,
 '2020-09-11 Bordeaux': 21,
 '2020-09-12 Montpellier': 22,
 '2020-09-12 Saint-Étienne': 23,
 '2020-09-13 Lille': 24,
 '2020-09-13 Nîmes': 25,
 '2020-09-13 Lorient': 26,
 '2020-09-13 Angers': 27,
 '2020-09-13 Dijon': 28,
 '2020-09-13 Monaco': 29,
 '2020-09-13 Paris': 30,
 '2020-09-18 Lyon': 31,
 '2020-09-19 Lens': 32,
 '2020-09-19 Rennes': 33,
 '2020-09-20 Nice': 34,
 '2020-09-20 Montpellier': 35,
 '2020-09-20 Brest': 36,
 '2020-09-20 Metz': 37,
 '2020-09-20 Strasbourg': 38,
 '2020-09-20 Nantes': 39,
 '2020-09-20 Marseille': 40,
 '2020-09-25 Lille': 41,
 '2020-09-26 Saint-Étienne': 42,
 '2020-09-26 Marseille': 43,
 '2020-09-27 Bordeaux': 44,
 '2020-09-27 Dijon': 45,
 '2020-09-27 Nîmes': 46,
 '2020-09-27 Monaco': 47,
 '2020-09-27 Angers': 48,
 '2020-09-27 Lorient': 49,
 '2020-09-27 Reims': 50,
 '2020-10-02 Paris': 51,
 '2020-10-03 Lens': 52,
 '2020-10-03 Nice': 53,
 '2020-10-04 Montpellier': 54,
 '2020-10-04 Strasbourg': 55,
 '2020-10-04 Brest': 56,
 '2020-10-04 Bordeaux': 57,
 '2020-10-04 Metz': 58,
 '2020-10-04 Rennes': 59,
 '2020-10-04 Lyon': 60,
 '2020-10-16 Dijon': 61,
 '2020-10-16 Nîmes': 62,
 '2020-10-17 Reims': 63,
 '2020-10-17 Marseille': 64,
 '2020-10-18 Strasbourg': 65,
 '2020-10-18 Monaco': 66,
 '2020-10-18 Nantes': 67,
 '2020-10-18 Angers': 68,
 '2020-10-18 Saint-Étienne': 69,
 '2020-10-18 Lille': 70,
 '2020-10-23 Rennes': 71,
 '2020-10-24 Lorient': 72,
 '2020-10-24 Paris': 73,
 '2020-10-25 Montpellier': 74,
 '2020-10-25 Metz': 75,
 '2020-10-25 Bordeaux': 76,
 '2020-10-25 Brest': 77,
 '2020-10-25 Nice': 78,
 '2020-10-25 Lyon': 79,
 '2020-11-25 Lens': 80,
 '2020-10-31 Rennes': 81,
 '2020-10-31 Nantes': 82,
 '2020-11-01 Saint-Étienne': 83,
 '2020-11-01 Angers': 84,
 '2020-11-01 Nîmes': 85,
 '2020-11-01 Dijon': 86,
 '2020-11-01 Reims': 87,
 '2020-11-01 Monaco': 88,
 '2020-11-01 Lille': 89,
 '2021-01-20 Marseille': 90,
 '2020-11-06 Strasbourg': 91,
 '2020-11-07 Bordeaux': 92,
 '2020-11-07 Paris': 93,
 '2020-11-08 Brest': 94,
 '2020-11-08 Lens': 95,
 '2020-11-08 Metz': 96,
 '2020-11-08 Nîmes': 97,
 '2020-11-08 Lorient': 98,
 '2020-11-08 Nice': 99,
 '2020-11-08 Lyon': 100,
 '2020-11-20 Rennes': 101,
 '2020-11-20 Monaco': 102,
 '2020-11-21 Brest': 103,
 '2020-11-22 Nantes': 104,
 '2020-11-22 Montpellier': 105,
 '2020-11-22 Dijon': 106,
 '2020-11-22 Reims': 107,
 '2020-11-22 Angers': 108,
 '2020-11-22 Lille': 109,
 '2021-02-17 Marseille': 110,
 '2020-11-27 Strasbourg': 111,
 '2020-11-28 Marseille': 112,
 '2020-11-28 Paris': 113,
 '2020-11-29 Lyon': 114,
 '2020-11-29 Lens': 115,
 '2020-11-29 Lorient': 116,
 '2020-11-29 Monaco': 117,
 '2020-11-29 Metz': 118,
 '2020-11-29 Nice': 119,
 '2020-11-29 Saint-Étienne': 120,
 '2020-12-04 Nîmes': 121,
 '2020-12-05 Rennes': 122,
 '2020-12-05 Montpellier': 123,
 '2020-12-06 Lille': 124,
 '2020-12-06 Angers': 125,
 '2020-12-06 Bordeaux': 126,
 '2020-12-06 Nantes': 127,
 '2020-12-06 Dijon': 128,
 '2020-12-06 Reims': 129,
 '2020-12-06 Metz': 130,
 '2020-12-11 Saint-Étienne': 131,
 '2020-12-12 Marseille': 132,
 '2020-12-12 Lens': 133,
 '2020-12-13 Nice': 134,
 '2020-12-13 Brest': 135,
 '2020-12-13 Strasbourg': 136,
 '2020-12-13 Nantes': 137,
 '2020-12-13 Lorient': 138,
 '2020-12-13 Lille': 139,
 '2020-12-13 Paris': 140,
 '2020-12-16 Dijon': 141,
 '2020-12-16 Montpellier': 142,
 '2020-12-16 Angers': 143,
 '2020-12-16 Nîmes': 144,
 '2020-12-16 Reims': 145,
 '2020-12-16 Lyon': 146,
 '2020-12-16 Paris': 147,
 '2020-12-16 Rennes': 148,
 '2020-12-16 Monaco': 149,
 '2020-12-16 Bordeaux': 150,
 '2020-12-19 Metz': 151,
 '2020-12-19 Marseille': 152,
 '2020-12-19 Nice': 153,
 '2020-12-20 Brest': 154,
 '2020-12-20 Dijon': 155,
 '2020-12-20 Nantes': 156,
 '2020-12-20 Strasbourg': 157,
 '2020-12-20 Saint-Étienne': 158,
 '2020-12-20 Lorient': 159,
 '2020-12-20 Lille': 160,
 '2020-12-23 Rennes': 161,
 '2020-12-23 Lens': 162,
 '2020-12-23 Bordeaux': 163,
 '2020-12-23 Nice': 164,
 '2020-12-23 Nîmes': 165,
 '2020-12-23 Montpellier': 166,
 '2020-12-23 Lyon': 167,
 '2020-12-23 Paris': 168,
 '2020-12-23 Angers': 169,
 '2020-12-23 Monaco': 170,
 '2021-01-06 Nantes': 171,
 '2021-01-06 Lorient': 172,
 '2021-01-06 Metz': 173,
 '2021-01-06 Brest': 174,
 '2021-01-06 Strasbourg': 175,
 '2021-01-06 Lyon': 176,
 '2021-01-06 Lille': 177,
 '2021-01-06 Saint-Étienne': 178,
 '2021-01-06 Marseille': 179,
 '2021-01-06 Reims': 180,
 '2021-01-09 Rennes': 181,
 '2021-01-09 Paris': 182,
 '2021-01-09 Nîmes': 183,
 '2021-01-09 Dijon': 184,
 '2021-01-09 Monaco': 185,
 '2021-01-09 Lens': 186,
 '2021-01-09 Montpellier': 187,
 '2021-01-09 Metz': 188,
 '2021-01-09 Bordeaux': 189,
 '2021-01-09 Reims': 190,
 '2021-01-15 Montpellier': 191,
 '2021-01-16 Marseille': 192,
 '2021-01-16 Angers': 193,
 '2021-01-17 Brest': 194,
 '2021-01-17 Nantes': 195,
 '2021-01-17 Nice': 196,
 '2021-01-17 Strasbourg': 197,
 '2021-01-17 Lille': 198,
 '2021-01-17 Lyon': 199,
 '2021-01-27 Lorient': 200,
 '2021-01-22 Paris': 201,
 '2021-01-23 Lens': 202,
 '2021-01-23 Monaco': 203,
 '2021-01-24 Bordeaux': 204,
 '2021-01-24 Metz': 205,
 '2021-01-24 Reims': 206,
 '2021-01-24 Dijon': 207,
 '2021-01-24 Rennes': 208,
 '2021-01-24 Saint-Étienne': 209,
 '2021-02-24 Nîmes': 210,
 '2021-01-29 Lyon': 211,
 '2021-01-30 Montpellier': 212,
 '2021-01-31 Nice': 213,
 '2021-01-31 Lorient': 214,
 '2021-01-31 Brest': 215,
 '2021-01-31 Angers': 216,
 '2021-01-31 Strasbourg': 217,
 '2021-01-31 Lille': 218,
 '2021-01-31 Nantes': 219,
 '2021-03-10 Marseille': 220,
 '2021-02-03 Bordeaux': 221,
 '2021-02-03 Rennes': 222,
 '2021-02-03 Metz': 223,
 '2021-02-03 Reims': 224,
 '2021-02-03 Strasbourg': 225,
 '2021-02-03 Dijon': 226,
 '2021-02-03 Paris': 227,
 '2021-02-03 Monaco': 228,
 '2021-02-03 Lens': 229,
 '2021-02-03 Saint-Étienne': 230,
 '2021-02-06 Lorient': 231,
 '2021-02-06 Lyon': 232,
 '2021-02-06 Lens': 233,
 '2021-02-07 Brest': 234,
 '2021-02-07 Nîmes': 235,
 '2021-02-07 Saint-Étienne': 236,
 '2021-02-07 Nice': 237,
 '2021-02-07 Montpellier': 238,
 '2021-02-07 Nantes': 239,
 '2021-02-07 Marseille': 240,
 '2021-02-13 Paris': 241,
 '2021-02-13 Reims': 242,
 '2021-02-13 Lyon': 243,
 '2021-02-14 Monaco': 244,
 '2021-02-14 Rennes': 245,
 '2021-02-14 Metz': 246,
 '2021-02-14 Angers': 247,
 '2021-02-14 Dijon': 248,
 '2021-02-14 Lille': 249,
 '2021-02-14 Bordeaux': 250,
 '2021-02-19 Brest': 251,
 '2021-02-20 Saint-Étienne': 252,
 '2021-02-20 Nantes': 253,
 '2021-02-21 Montpellier': 254,
 '2021-02-21 Lens': 255,
 '2021-02-21 Nice': 256,
 '2021-02-21 Strasbourg': 257,
 '2021-02-21 Nîmes': 258,
 '2021-02-21 Lorient': 259,
 '2021-02-21 Paris': 260,
 '2021-02-26 Rennes': 261,
 '2021-02-27 Bordeaux': 262,
 '2021-02-27 Dijon': 263,
 '2021-02-28 Monaco': 264,
 '2021-02-28 Angers': 265,
 '2021-02-28 Reims': 266,
 '2021-02-28 Lorient': 267,
 '2021-02-28 Nîmes': 268,
 '2021-02-28 Lille': 269,
 '2021-02-28 Marseille': 270,
 '2021-03-03 Lyon': 271,
 '2021-03-03 Metz': 272,
 '2021-03-03 Saint-Étienne': 273,
 '2021-03-03 Nice': 274,
 '2021-03-03 Brest': 275,
 '2021-03-03 Lille': 276,
 '2021-03-03 Bordeaux': 277,
 '2021-03-03 Strasbourg': 278,
 '2021-03-03 Montpellier': 279,
 '2021-03-03 Nantes': 280,
 '2021-03-12 Reims': 281,
 '2021-03-13 Angers': 282,
 '2021-03-13 Marseille': 283,
 '2021-03-14 Nîmes': 284,
 '2021-03-14 Lens': 285,
 '2021-03-14 Rennes': 286,
 '2021-03-14 Lorient': 287,
 '2021-03-14 Dijon': 288,
 '2021-03-14 Monaco': 289,
 '2021-03-14 Paris': 290,
 '2021-03-19 Saint-Étienne': 291,
 '2021-03-20 Metz': 292,
 '2021-03-20 Nice': 293,
 '2021-03-21 Strasbourg': 294,
 '2021-03-21 Montpellier': 295,
 '2021-03-21 Brest': 296,
 '2021-03-21 Dijon': 297,
 '2021-03-21 Nantes': 298,
 '2021-03-21 Lille': 299,
 '2021-03-21 Lyon': 300,
 '2021-04-03 Monaco': 301,
 '2021-04-03 Paris': 302,
 '2021-04-03 Lens': 303,
 '2021-04-04 Angers': 304,
 '2021-04-04 Reims': 305,
 '2021-04-04 Nantes': 306,
 '2021-04-04 Bordeaux': 307,
 '2021-04-04 Lorient': 308,
 '2021-04-04 Nîmes': 309,
 '2021-04-04 Marseille': 310,
 '2021-04-09 Metz': 311,
 '2021-04-10 Strasbourg': 312,
 '2021-04-10 Montpellier': 313,
 '2021-04-11 Rennes': 314,
 '2021-04-11 Lens': 315,
 '2021-04-11 Nice': 316,
 '2021-04-11 Saint-Étienne': 317,
 '2021-04-11 Brest': 318,
 '2021-04-11 Monaco': 319,
 '2021-04-11 Lyon': 320,
 '2021-04-16 Lille': 321,
 '2021-04-17 Angers': 322,
 '2021-04-17 Marseille': 323,
 '2021-04-18 Paris': 324,
 '2021-04-18 Brest': 325,
 '2021-04-18 Dijon': 326,
 '2021-04-18 Reims': 327,
 '2021-04-18 Nîmes': 328,
 '2021-04-18 Bordeaux': 329,
 '2021-04-18 Nantes': 330,
 '2021-04-23 Reims': 331,
 '2021-04-24 Saint-Étienne': 332,
 '2021-04-24 Metz': 333,
 '2021-04-25 Nice': 334,
 '2021-04-25 Lens': 335,
 '2021-04-25 Rennes': 336,
 '2021-04-25 Strasbourg': 337,
 '2021-04-25 Lorient': 338,
 '2021-04-25 Angers': 339,
 '2021-04-25 Lyon': 340,
 '2021-04-30 Marseille': 341,
 '2021-05-01 Paris': 342,
 '2021-05-01 Lille': 343,
 '2021-05-02 Bordeaux': 344,
 '2021-05-02 Dijon': 345,
 '2021-05-02 Nîmes': 346,
 '2021-05-02 Lorient': 347,
 '2021-05-02 Brest': 348,
 '2021-05-02 Montpellier': 349,
 '2021-05-02 Monaco': 350,
 '2021-05-07 Lens': 351,
 '2021-05-08 Nantes': 352,
 '2021-05-08 Lyon': 353,
 '2021-05-09 Saint-Étienne': 354,
 '2021-05-09 Strasbourg': 355,
 '2021-05-09 Metz': 356,
 '2021-05-09 Nice': 357,
 '2021-05-09 Angers': 358,
 '2021-05-09 Reims': 359,
 '2021-05-09 Rennes': 360,
 '2021-05-16 Lille': 361,
 '2021-05-16 Paris': 362,
 '2021-05-16 Monaco': 363,
 '2021-05-16 Nîmes': 364,
 '2021-05-16 Marseille': 365,
 '2021-05-16 Bordeaux': 366,
 '2021-05-16 Montpellier': 367,
 '2021-05-16 Nice': 368,
 '2021-05-16 Lorient': 369,
 '2021-05-16 Dijon': 370,
 '2021-05-23 Angers': 371,
 '2021-05-23 Brest': 372,
 '2021-05-23 Lens': 373,
 '2021-05-23 Lyon': 374,
 '2021-05-23 Metz': 375,
 '2021-05-23 Rennes': 376,
 '2021-05-23 Nantes': 377,
 '2021-05-23 Saint-Étienne': 378,
 '2021-05-23 Reims': 379,
 '2021-05-23 Strasbourg': 380}

In [65]:
df_players_table_bis = read_db('SELECT players.id, players.full_name, teams.city FROM players JOIN teams ON players.team_id = teams.id')
df_players_table_bis

      id      full_name        city
0      1  P. Bernardoni      Angers
1      2     L. Butelle      Angers
2      3    D. Petkovic      Angers
3      4       A. Bamba      Angers
4      5        K. Boma      Angers
..   ...            ...         ...
642  643     L. Mothiba  Strasbourg
643  644       I. Saadi  Strasbourg
644  645        M. Sahi  Strasbourg
645  646       A. Waris  Strasbourg
646  647        K. Zohi  Strasbourg

[647 rows x 3 columns]

In [68]:
df_players_table_bis['players'] = df_players_table_bis['full_name'] + ' ' + df_players_table_bis['city']
df_players_table_bis

      id      full_name        city                players
0      1  P. Bernardoni      Angers   P. Bernardoni Angers
1      2     L. Butelle      Angers      L. Butelle Angers
2      3    D. Petkovic      Angers     D. Petkovic Angers
3      4       A. Bamba      Angers        A. Bamba Angers
4      5        K. Boma      Angers         K. Boma Angers
..   ...            ...         ...                    ...
642  643     L. Mothiba  Strasbourg  L. Mothiba Strasbourg
643  644       I. Saadi  Strasbourg    I. Saadi Strasbourg
644  645        M. Sahi  Strasbourg     M. Sahi Strasbourg
645  646       A. Waris  Strasbourg    A. Waris Strasbourg
646  647        K. Zohi  Strasbourg     K. Zohi Strasbourg

[647 rows x 4 columns]

In [69]:
players_goals_dict = {}
for player in range(len(df_players_table_bis)):
    player_dict = {
        df_players_table_bis.iloc[player, 3]: df_players_table_bis.iloc[player, 0]}
    players_goals_dict.update(player_dict)
players_goals_dict

{'P. Bernardoni Angers': 1,
 'L. Butelle Angers': 2,
 'D. Petkovic Angers': 3,
 'A. Bamba Angers': 4,
 'K. Boma Angers': 5,
 'E. Diaw Angers': 6,
 'S. Doumbia Angers': 7,
 'I. Dramé Angers': 8,
 'E. Ebosse Angers': 9,
 'O. Falouh Angers': 10,
 'V. Manceau Angers': 11,
 'M. Pavlovic Angers': 12,
 'R. Thomas Angers': 13,
 'I. Traoré Angers': 14,
 'I. Amadou Angers': 15,
 'K. Bemanga Angers': 16,
 'A. Bobichon Angers': 17,
 'S. Boufal Angers': 18,
 'J. Cabot Angers': 19,
 'P. Capelle Angers': 20,
 'M. Cho Angers': 21,
 'L. Coulibaly Angers': 22,
 'A. Fulgini Angers': 23,
 'T. Mangani Angers': 24,
 'K. Mouanga Angers': 25,
 'Z. Ould Khaled Angers': 26,
 'M. Pereira Lage Angers': 27,
 'W. Taïbi Angers': 28,
 'R. Alioui Angers': 29,
 'S. Bahoken Angers': 30,
 'L. Diony Angers': 31,
 'F. El-Melali Angers': 32,
 'N. Fatar Angers': 33,
 'Y. Fortuné Angers': 34,
 'S. Thioub Angers': 35,
 'B. Costil Bordeaux': 36,
 'D. Lima Semedo Bordeaux': 37,
 'C. Michel Bordeaux': 38,
 'G. Poussin Bordeaux': 39,
 'D. Rouyard Bordeaux': 40,
 'P. Baysse Bordeaux': 41,
 'L. Benito Bordeaux': 42,
 'L. Bessilé Bordeaux': 43,
 'M. Bokélé Mputu Bordeaux': 44,
 'D. Cardoso Bordeaux': 45,
 'V. Jovanovic Bordeaux': 46,
 'L. Koscielny Bordeaux': 47,
 'E. Kwateng Bordeaux': 48,
 'E. Mexer Bordeaux': 49,
 'M. Poundjé Bordeaux': 50,
 'Y. Sabaly Bordeaux': 51,
 'I. Sow Bordeaux': 52,
 'Y. Adli Bordeaux': 53,
 'T. Basic Bordeaux': 54,
 'T. Lacoux Bordeaux': 55,
 'Otavio Bordeaux': 56,
 'J. Seri Bordeaux': 57,
 'I. Sissokho Bordeaux': 58,
 'M. Zerkane Bordeaux': 59,
 'D. Bakwa Bordeaux': 60,
 'H. Ben Arfa Bordeaux': 61,
 'J. Briand Bordeaux': 62,
 'N. De Préville Bordeaux': 63,
 'L. Delaurier-Ch... Bordeaux': 64,
 'I. Diarra Bordeaux': 65,
 'U. Hwang Bordeaux': 66,
 'S. Kalu Bordeaux': 67,
 'S. Mara Bordeaux': 68,
 'R. Oudin Bordeaux': 69,
 'A. Traoré Bordeaux': 70,
 'S. Cibois Brest': 71,
 'M. Hassen Brest': 72,
 'G. Larsonneur Brest': 73,
 'L. Baal Brest': 74,
 'D. Bain Brest': 75,
 'L. Brassier Brest': 76,
 'B. Chardonnet Brest': 77,
 'J. Duverne Brest': 78,
 'J. Faussurier Brest': 79,
 'C. Hérelle Brest': 80,
 'R. Perraud Brest': 81,
 'R. Pierre-Gabriel Brest': 82,
 'H. Belkebla Brest': 83,
 'K. Benvindo Brest': 84,
 'I. Dioh Brest': 85,
 'B. Fadiga Brest': 86,
 'R. Faivre Brest': 87,
 'Jean Lucas Brest': 88,
 'P. Lasne Brest': 89,
 'H. Magnetti Brest': 90,
 'H. Mbock Brest': 91,
 "F. N'Goma Brest": 92,
 'R. Philippoteaux Brest': 93,
 'D. Bangoura Brest': 94,
 'I. Cardona Brest': 95,
 'G. Charbonnier Brest': 96,
 'F. Honorat Brest': 97,
 'J. Le Douaron Brest': 98,
 'S. Mounié Brest': 99,
 'S. Allagbé Dijon': 100,
 'L. Ntumba Dijon': 101,
 'A. Racioppi Dijon': 102,
 'S. Boey Dijon': 103,
 'F. Chafik Dijon': 104,
 'A. Chala Dijon': 105,
 'S. Coulibaly Dijon': 106,
 'B. Ecuele Manga Dijon': 107,
 'W. Lautoa Dijon': 108,
 'G. Ngonda Muzinga Dijon': 109,
 'A. Ngouyamsa Dijon': 110,
 'J. Panzo Dijon': 111,
 'A. Arli Dijon': 112,
 'R. Assalé Dijon': 113,
 'Y. Benzia Dijon': 114,
 'B. Celina Dijon': 115,
 'C. Costes Dijon': 116,
 'E. Dina Ebimbe Dijon': 117,
 'P. Diop Dijon': 118,
 'M. Dobre Dijon': 119,
 'A. Kamara Dijon': 120,
 'J. Marié Dijon': 121,
 'D. Ndong Dijon': 122,
 'F. Sammaritano Dijon': 123,
 'W. Younoussa Dijon': 124,
 'A. Zagré Dijon': 125,
 'M. Baldé Dijon': 126,
 'E. Belhadji Dijon': 127,
 'M. Chouiar Dijon': 128,
 'M. Konaté Dijon': 129,
 'J. Siwe Dijon': 130,
 'W. Farinez Lens': 131,
 'J. Leca Lens': 132,
 'Y. Pandor Lens': 133,
 'L. Badé Lens': 134,
 'I. Boura Lens': 135,
 'J. Clauss Lens': 136,
 'Z. Diallo Lens': 137,
 'S. Fortes Lens': 138,
 'J. Gradit Lens': 139,
 'M. Haïdara Lens': 140,
 'O. Kamara Lens': 141,
 'F. Medina Lens': 142,
 'C. Michelin Lens': 143,
 'I. Sylla Lens': 144,
 'C. Traoré Lens': 145,
 'Y. Cahuzac Lens': 146,
 'B. Camara Lens': 147,
 'C. Doucouré Lens': 148,
 'S. Fofana Lens': 149,
 'G. Kakuta Lens': 150,
 'A. Louveau Lens': 151,
 'T. Mauricio Lens': 152,
 'A. Oudjani Lens': 153,
 'D. Pereira Da... Lens': 154,
 'J. Varane Lens': 155,
 'S. Banza Lens': 156,
 'I. Ganago Lens': 157,
 'C. Jean Lens': 158,
 'A. Kalimuendo Lens': 159,
 'F. Sotoca Lens': 160,
 'A. Sow Lens': 161,
 'L. Chevalier Lille': 162,
 'O. Karnezis Lille': 163,
 'M. Maignan Lille': 164,
 'S. Botman Lille': 165,
 'I. Bouleghcha Lille': 166,
 'D. Bradaric Lille': 167,
 'T. Djalo Lille': 168,
 'J. Fonte Lille': 169,
 'N. Innocenti Lille': 170,
 'R. Mandava Lille': 171,
 'J. Pied Lille': 172,
 'M. Çelik Lille': 173,
 'B. André Lille': 174,
 'R. Ascone Lille': 175,
 'J. Bamba Lille': 176,
 'A. Camara Lille': 177,
 'M. Kapi Lille': 178,
 'E. Pizzuto Lille': 179,
 'R. Sanches Lille': 180,
 'B. Soumaré Lille': 181,
 'Xeka Lille': 182,
 'Y. Yazici Lille': 183,
 'A. Zekaj Lille': 184,
 'L. Araujo Lille': 185,
 'J. David Lille': 186,
 'J. Ikoné Lille': 187,
 'José Bica Lille': 188,
 'I. Lihadji Lille': 189,
 'T. Weah Lille': 190,
 'B. Yilmaz Lille': 191,
 'T. Bartouche Lorient': 192,
 'T. Callens Lorient': 193,
 'M. Dreyer Lorient': 194,
 'P. Nardi Lorient': 195,
 'M. Doumbouya Lorient': 196,
 'Y. Etienne Lorient': 197,
 'T. Fontaine Lorient': 198,
 'A. Gravillon Lorient': 199,
 'J. Hergault Lorient': 200,
 'J. Homawoo Lorient': 201,
 'T. Ilori Lorient': 202,
 'J. Laporte Lorient': 203,
 'V. Le Goff Lorient': 204,
 'H. Mendes Lorient': 205,
 'J. Morel Lorient': 206,
 'L. Mouyokolo Lorient': 207,
 'M. Saunier Lorient': 208,
 'L. Abergel Lorient': 209,
 'Q. Boisgard Lorient': 210,
 'T. Chalobah Lorient': 211,
 'J. Delaplace Lorient': 212,
 'A. Laurienté Lorient': 213,
 'E. Le Fée Lorient': 214,
 'F. Lemoine Lorient': 215,
 'S. Marveaux Lorient': 216,
 'T. Monconduit Lorient': 217,
 'F. Wadja Lorient': 218,
 'S. Diarra Lorient': 219,
 'A. Grbic Lorient': 220,
 'P. Hamel Lorient': 221,
 'T. Moffi Lorient': 222,
 'D. Ouattara Lorient': 223,
 'Y. Wissa Lorient': 224,
 'M. Barcola Lyon': 225,
 'A. Lopes Lyon': 226,
 'J. Pollersbeck Lyon': 227,
 'M. Bard Lyon': 228,
 'D. Benlamri Lyon': 229,
 'M. De Sciglio Lyon': 230,
 'J. Denayer Lyon': 231,
 'S. Diomandé Lyon': 232,
 'L. Dubois Lyon': 233,
 'M. Gusto Lyon': 234,
 'C. Lukeba Lyon': 235,
 'Marcelo Lyon': 236,
 'A. Ndiaye Lyon': 237,
 'Niakhate Ndiaye Lyon': 238,
 'C. Özkaçar Lyon': 239,
 'H. Aouar Lyon': 240,
 'M. Caqueret Lyon': 241,
 'R. Cherki Lyon': 242,
 'F. Da Silva Lyon': 243,
 'B. Guimaraes Lyon': 244,
 'T. Mendes Lyon': 245,
 'L. Paqueta Lyon': 246,
 'Y. Soumaré Lyon': 247,
 'M. Cornet Lyon': 248,
 'M. Depay Lyon': 249,
 'T. Kadewere Lyon': 250,
 'H. Keita Lyon': 251,
 'S. Lega Lyon': 252,
 'I. Slimani Lyon': 253,
 'K. Toko Ekambi Lyon': 254,
 'S. Mandanda Marseille': 255,
 'S. Ngapandouetnbu Marseille': 256,
 'Y. Pelé Marseille': 257,
 'J. Amavi Marseille': 258,
 'L. Balerdi Marseille': 259,
 'D. Caleta-Car Marseille': 260,
 'A. Gonzalez Marseille': 261,
 'A. Kamardin Marseille': 262,
 'P. Lirola Marseille': 263,
 'Y. Nagatomo Marseille': 264,
 'L. Perrin Marseille': 265,
 'C. Rocchia Marseille': 266,
 'H. Sakai Marseille': 267,
 'U. Bertelli Marseille': 268,
 'M. Cuisance Marseille': 269,
 'P. Gueye Marseille': 270,
 'B. Kamara Marseille': 271,
 'S. Khaoui Marseille': 272,
 'O. Ntcham Marseille': 273,
 'D. Payet Marseille': 274,
 'V. Rongier Marseille': 275,
 'P. Sciortino Marseille': 276,
 'C. Souaré Marseille': 277,
 'O. Targhalline Marseille': 278,
 'D. Benedetto Marseille': 279,
 'A. Dieng Marseille': 280,
 'V. Germain Marseille': 281,
 'Luis Henrique Marseille': 282,
 'A. Milik Marseille': 283,
 'F. Thauvin Marseille': 284,
 'O. Ba Metz': 285,
 'M. Caillard Metz': 286,
 'A. Oukidja Metz': 287,
 'E. Boahene Metz': 288,
 'J. Boye Metz': 289,
 'D. Bronn Metz': 290,
 'M. Cabit Metz': 291,
 'F. Centonze Metz': 292,
 'T. Delaine Metz': 293,
 'M. Fofana Metz': 294,
 'B. Kouyaté Metz': 295,
 'L. Lacroix Metz': 296,
 'W. Mikelbrencis Metz': 297,
 'M. Udol Metz': 298,
 'V. Angban Metz': 299,
 'Y. Maziz Metz': 300,
 'H. Maïga Metz': 301,
 "K. N'Doram Metz": 302,
 'V. Pajot Metz': 303,
 'P. Sarr Metz': 304,
 'W. Tchimbembé Metz': 305,
 'B. Traoré Metz': 306,
 'T. Ambrose Metz': 307,
 'F. Boulaya Metz': 308,
 'V. Dias Goncalves Metz': 309,
 'M. Gueye Metz': 310,
 'A. Leya Iseka Metz': 311,
 'O. Nguette Metz': 312,
 'I. Niane Metz': 313,
 'P. Yade Metz': 314,
 'B. Lecomte Monaco': 315,
 'Y. Liénard Monaco': 316,
 'R. Majecki Monaco': 317,
 'V. Mannone Monaco': 318,
 'R. Aguilar Monaco': 319,
 'B. Badiashile Monaco': 320,
 'F. Ballo-Touré Monaco': 321,
 'A. Disasi Monaco': 322,
 'G. Maripan Monaco': 323,
 'C. Matsima Monaco': 324,
 'D. Sidibé Monaco': 325,
 'Y. Aït-Bennasser Monaco': 326,
 'Caio Henrique Monaco': 327,
 'S. Diop Monaco': 328,
 'F. Fabregas Monaco': 329,
 'Y. Fofana Monaco': 330,
 'A. Golovine Monaco': 331,
 'F. Luis Monaco': 332,
 'E. Matazo Monaco': 333,
 'E. Millot Monaco': 334,
 'A. Tchouaméni Monaco': 335,
 'W. Ben Yedder Monaco': 336,
 'V. Decarpentrie Monaco': 337,
 'K. Diatta Monaco': 338,
 'W. Geubbels Monaco': 339,
 'S. Jovetic Monaco': 340,
 'G. Martins Monaco': 341,
 'P. Pellegri Monaco': 342,
 'K. Volland Monaco': 343,
 'D. Bertaud Montpellier': 344,
 'M. Carvalho Montpellier': 345,
 'J. Omlin Montpellier': 346,
 'D. Congré Montpellier': 347,
 'N. Cozza Montpellier': 348,
 'M. Estève Montpellier': 349,
 'V. Hilton Montpellier': 350,
 'P. Mendes Montpellier': 351,
 'A. Oyongo Montpellier': 352,
 'M. Ristic Montpellier': 353,
 'A. Souquet Montpellier': 354,
 'M. Suarez Montpellier': 355,
 'T. Tamas Montpellier': 356,
 'Thuler Montpellier': 357,
 'C. Vidal Montpellier': 358,
 'S. Benchamma Montpellier': 359,
 'J. Chotard Montpellier': 360,
 'S. Delaye Montpellier': 361,
 'K. Dolly Montpellier': 362,
 'J. Ferri Montpellier': 363,
 'D. Le Tallec Montpellier': 364,
 'F. Mollet Montpellier': 365,
 'J. Sambia Montpellier': 366,
 'T. Savanier Montpellier': 367,
 'S. Wahi Montpellier': 368,
 'Y. Ammour Montpellier': 369,
 'A. Ben Achour Montpellier': 370,
 'A. Delort Montpellier': 371,
 'G. Laborde Montpellier': 372,
 'B. Makouana Montpellier': 373,
 'S. Mavididi Montpellier': 374,
 'P. Skuletic Montpellier': 375,
 'I. Yun Montpellier': 376,
 'C. Jan Nantes': 377,
 'A. Lafont Nantes': 378,
 'D. Petric Nantes': 379,
 'D. Appiah Nantes': 380,
 'T. Basila Nantes': 381,
 'J. Castelletto Nantes': 382,
 'S. Corchia Nantes': 383,
 'D. Fabio Nantes': 384,
 'A. Girotto Nantes': 385,
 'B. Mendy Nantes': 386,
 'N. Pallois Nantes': 387,
 'A. Sylla Nantes': 388,
 'C. Traoré Nantes': 389,
 'A. Walongwa Nantes': 390,
 'L. Blas Nantes': 391,
 'P. Chirivella Nantes': 392,
 'M. Coco Nantes': 393,
 'A. Limbombe Nantes': 394,
 'I. Louza Nantes': 395,
 'Q. Merlin Nantes': 396,
 'R. Pereira de Sa Nantes': 397,
 'A. Touré Nantes': 398,
 'J. Augustin Nantes': 399,
 'A. Bamba Nantes': 400,
 'K. Coulibaly Nantes': 401,
 'R. Emond Nantes': 402,
 'R. Kolo Muani Nantes': 403,
 'B. Ndilu Nantes': 404,
 'M. Simon Nantes': 405,
 'W. Benitez Nice': 406,
 'T. Boulhendi Nice': 407,
 'Y. Cardinale Nice': 408,
 'J. Rolland Nice': 409,
 'Y. Atal Nice': 410,
 'R. Bambu Nice': 411,
 'N. Crétier Nice': 412,
 'F. Daniliuc Nice': 413,
 'Dante Nice': 414,
 'H. Kamara Nice': 415,
 'J. Lotomba Nice': 416,
 'A. Mendy Nice': 417,
 'S. Nsoki Nice': 418,
 'A. Pelmard Nice': 419,
 'T. Pionnier-Ber... Nice': 420,
 'L. Prso Nice': 421,
 'W. Saliba Nice': 422,
 'S. Ben Seghir Nice': 423,
 'H. Boudaoui Nice': 424,
 'S. Kari Nice': 425,
 'P. Lees-Melou Nice': 426,
 'R. Lopes Nice': 427,
 'J. Reine-Adélaïde Nice': 428,
 'M. Schneiderlin Nice': 429,
 'M. Sellouki Nice': 430,
 'K. Thuram Nice': 431,
 'J. Todibo Nice': 432,
 'A. Trouillet Nice': 433,
 'P. Wade Nice': 434,
 'A. Claude-Maurice Nice': 435,
 'K. Dolberg Nice': 436,
 'A. Gouiri Nice': 437,
 'M. Maolida Nice': 438,
 'D. Ndoye Nice': 439,
 'A. Parsemain Nice': 440,
 'A. Sotona Nice': 441,
 'K. Williams Nice': 442,
 'L. Dias Nîmes': 443,
 'A. Nazih Nîmes': 444,
 'B. Reynet Nîmes': 445,
 'S. Alakouch Nîmes': 446,
 'A. Briançon Nîmes': 447,
 'P. Burner Nîmes': 448,
 'K. Guessoum Nîmes': 449,
 'L. Landre Nîmes': 450,
 'A. Malanda Nîmes': 451,
 'P. Martinez Nîmes': 452,
 'B. Meling Nîmes': 453,
 'F. Miguel Nîmes': 454,
 'G. Paquiez Nîmes': 455,
 'R. Ripart Nîmes': 456,
 'N. Ueda Nîmes': 457,
 'M. Ahlinvi Nîmes': 458,
 'Y. Benrahou Nîmes': 459,
 'L. Buades Nîmes': 460,
 'A. Cubas Nîmes': 461,
 'L. Deaux Nîmes': 462,
 'H. Duljevic Nîmes': 463,
 'N. Eliasson Nîmes': 464,
 'Z. Ferhat Nîmes': 465,
 'L. Fomba Nîmes': 466,
 'S. Sarr Nîmes': 467,
 'A. Valerio Nîmes': 468,
 'K. Aribi Nîmes': 469,
 'S. Ben Amar Nîmes': 470,
 'N. Chadli Nîmes': 471,
 'C. Depres Nîmes': 472,
 'M. Doucouré Nîmes': 473,
 'M. Koné Nîmes': 474,
 'M. Majouga Nîmes': 475,
 'N. Roux Nîmes': 476,
 'D. Franchi Paris': 477,
 'A. Letellier Paris': 478,
 'K. Navas Paris': 479,
 'M. Randriamamy Paris': 480,
 'S. Rico Paris': 481,
 'Y. Saidani Paris': 482,
 'M. Bakker Paris': 483,
 'J. Bernat Paris': 484,
 'C. Dagba Paris': 485,
 'A. Diallo Paris': 486,
 'A. Florenzi Paris': 487,
 'T. Kehrer Paris': 488,
 'P. Kimpembe Paris': 489,
 'L. Kurzawa Paris': 490,
 'Marquinhos Paris': 491,
 'T. Pembélé Paris': 492,
 'A. Di Maria Paris': 493,
 'J. Draxler Paris': 494,
 'I. Gharbi Paris': 495,
 'I. Gueye Paris': 496,
 'A. Herrera Paris': 497,
 'A. Kamara Paris': 498,
 'M. Kapo Paris': 499,
 'E. Michut Paris': 500,
 'L. Paredes Paris': 501,
 'D. Pereira Paris': 502,
 'Rafinha Paris': 503,
 'K. Ruiz-Atil Paris': 504,
 'P. Sarabia Paris': 505,
 'X. Simons Paris': 506,
 'M. Verratti Paris': 507,
 'M. Icardi Paris': 508,
 'M. Kean Paris': 509,
 'K. Mbappé Paris': 510,
 'K. Nagera Paris': 511,
 'Neymar Paris': 512,
 'Y. Diouf Reims': 513,
 'D. Ndiaye Reims': 514,
 'L. Pelletier Reims': 515,
 'P. Rajkovic Reims': 516,
 'Y. Abdelhamid Reims': 517,
 'T. De Smet Reims': 518,
 'F. Doucouré Reims': 519,
 'W. Faes Reims': 520,
 'T. Foket Reims': 521,
 'G. Konan Reims': 522,
 'B. Locko Reims': 523,
 'D. Maresic Reims': 524,
 'P. Mbow Reims': 525,
 'M. Mbow Reims': 526,
 'E. Valentim Reims': 527,
 'V. Berisha Reims': 528,
 'M. Cafaro Reims': 529,
 'M. Cassama Reims': 530,
 'X. Chavalerin Reims': 531,
 'M. Doumbia Reims': 532,
 'M. Drammeh Reims': 533,
 'D. Kutesa Reims': 534,
 'D. Lopy Reims': 535,
 'M. Munetsi Reims': 536,
 'M. Sakava Reims': 537,
 'A. Zeneli Reims': 538,
 'B. Dia Reims': 539,
 'H. Ekitike Reims': 540,
 'A. Flips Reims': 541,
 'N. Mbuku Reims': 542,
 'K. Sierhuis Reims': 543,
 'E. Touré Reims': 544,
 'P. Bonet Rennes': 545,
 'A. Gomis Rennes': 546,
 'R. Salin Rennes': 547,
 'N. Aguerd Rennes': 548,
 'D. Da Silva Rennes': 549,
 'H. Dalbert Rennes': 550,
 'N. Diallo Rennes': 551,
 'F. Maouassa Rennes': 552,
 'G. Nyamsi Rennes': 553,
 'W. Omari Rennes': 554,
 'B. Soppy Rennes': 555,
 'H. Traoré Rennes': 556,
 'A. Truffert Rennes': 557,
 'B. Bourigeaud Rennes': 558,
 'E. Camavinga Rennes': 559,
 'C. Grenier Rennes': 560,
 'J. Léa-Siliki Rennes': 561,
 'J. Martin Rennes': 562,
 'S. Nzonzi Rennes': 563,
 'F. Tait Rennes': 564,
 'L. Ugochukwu Rennes': 565,
 'M. Abline Rennes': 566,
 'R. Del Castillo Rennes': 567,
 'A. Diouf Rennes': 568,
 'J. Doku Rennes': 569,
 'G. Gboho Rennes': 570,
 'S. Guirassy Rennes': 571,
 'M. Terrier Rennes': 572,
 'S. Bajic Saint-Étienne': 573,
 'B. Fall Saint-Étienne': 574,
 'E. Green Saint-Étienne': 575,
 'J. Moulin Saint-Étienne': 576,
 'N. Ouennas Saint-Étienne': 577,
 'A. Bakayoko Saint-Étienne': 578,
 'P. Cissé Saint-Étienne': 579,
 'M. Debuchy Saint-Étienne': 580,
 'S. Karamoko Saint-Étienne': 581,
 'T. Kolodziejczak Saint-Étienne': 582,
 'Y. Maçon Saint-Étienne': 583,
 'H. Moukoudi Saint-Étienne': 584,
 'P. Retsos Saint-Étienne': 585,
 'G. Silva Saint-Étienne': 586,
 'N. Sissoko Saint-Étienne': 587,
 'R. Souici Saint-Étienne': 588,
 'S. Sow Saint-Étienne': 589,
 'M. Trauco Saint-Étienne': 590,
 'M. Tshibuabua Saint-Étienne': 591,
 'A. Aouchiche Saint-Étienne': 592,
 'B. Benkhedim Saint-Étienne': 593,
 'R. Boudebouz Saint-Étienne': 594,
 'M. Camara Saint-Étienne': 595,
 'B. Gabard Saint-Étienne': 596,
 'L. Gourna-Douath Saint-Étienne': 597,
 'R. Hamouma Saint-Étienne': 598,
 'K. Monnet-Paquet Saint-Étienne': 599,
 'A. Moueffek Saint-Étienne': 600,
 'Y. Neyou Saint-Étienne': 601,
 'M. Saban Saint-Étienne': 602,
 'T. Tormin Saint-Étienne': 603,
 'Z. Youssouf Saint-Étienne': 604,
 'C. Abi Saint-Étienne': 605,
 'D. Bouanga Saint-Étienne': 606,
 'E. Correia Saint-Étienne': 607,
 'W. Khazri Saint-Étienne': 608,
 'Y. Lhéry Saint-Étienne': 609,
 'A. Modeste Saint-Étienne': 610,
 'A. Nordin Saint-Étienne': 611,
 'M. Rivera Saint-Étienne': 612,
 'A. Sidibé Saint-Étienne': 613,
 'A. Bellaarouch Strasbourg': 614,
 'B. Kamara Strasbourg': 615,
 'E. Kawashima Strasbourg': 616,
 'A. Pierre Strasbourg': 617,
 'M. Sels Strasbourg': 618,
 'I. Aaneba Strasbourg': 619,
 'A. Caci Strasbourg': 620,
 'L. Carole Strasbourg': 621,
 'A. Djiku Strasbourg': 622,
 'M. Elimbi Gilbert Strasbourg': 623,
 'F. Guilbert Strasbourg': 624,
 'L. Koné Strasbourg': 625,
 'S. Mitrovic Strasbourg': 626,
 'A. Ousmane Strasbourg': 627,
 'M. Senaya Strasbourg': 628,
 'M. Simakan Strasbourg': 629,
 'J. Aholou Strasbourg': 630,
 'J. Bellegarde Strasbourg': 631,
 'B. Besic Strasbourg': 632,
 'M. Chahiri Strasbourg': 633,
 'A. Lebeau Strasbourg': 634,
 'D. Liénard Strasbourg': 635,
 'S. Prcic Strasbourg': 636,
 'M. Siby Strasbourg': 637,
 'I. Sissoko Strasbourg': 638,
 'N. Sommer Strasbourg': 639,
 'A. Thomasson Strasbourg': 640,
 'L. Ajorque Strasbourg': 641,
 'H. Diallo Strasbourg': 642,
 'L. Mothiba Strasbourg': 643,
 'I. Saadi Strasbourg': 644,
 'M. Sahi Strasbourg': 645,
 'A. Waris Strasbourg': 646,
 'K. Zohi Strasbourg': 647}

In [118]:
df_goals = pd.read_csv('goals_table_final.csv', index_col=0)
df_goals.head(15)

,match_id,player_id,goal_type,created_at,updated_at
0,2020-08-22 Dijon,I. Traoré Angers,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
1,2020-08-22 Lille,J. Bamba Lille,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
2,2020-08-22 Lille,D. Da Silva Rennes,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
3,2020-08-23 Monaco,A. Disasi Monaco,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
4,2020-08-23 Monaco,B. Badiashile Monaco,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
5,2020-08-23 Monaco,B. Dia Reims,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
6,2020-08-23 Monaco,E. Touré Reims,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
7,2020-08-23 Lorient,Y. Wissa Lorient,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
8,2020-08-23 Lorient,A. Grbic Lorient,penalty,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
9,2020-08-23 Lorient,P. Hamel Lorient,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
10,2020-08-23 Lorient,M. Chahiri Strasbourg,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
11,2020-08-23 Nîmes,K. Denkey Nîmes,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
12,2020-08-23 Nîmes,B. Meling Nîmes,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
13,2020-08-23 Nîmes,R. Philippoteaux Nîmes,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
14,2020-08-23 Nîmes,M. Koné Nîmes,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412

In [119]:
df_goals['match_id'] = df_goals['match_id'].map(matchs_goals_dict)
df_goals['player_id'] = df_goals['player_id'].map(players_goals_dict)
df_goals.head(15)

,match_id,player_id,goal_type,created_at,updated_at
0,2,14.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
1,3,176.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
2,3,549.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
3,4,322.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
4,4,320.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
5,4,539.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
6,4,544.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
7,5,224.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
8,5,220.0,penalty,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
9,5,221.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
10,5,633.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
11,6,NaN,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
12,6,453.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
13,6,NaN,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
14,6,474.0,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412

In [120]:
pd.set_option('display.max_rows', None)
df_goals['player_id'].fillna('Transfert', inplace=True)
for player in df_goals['player_id']:
    if type(player) == float:
        player = int(player)
df_goals.head(15)

,match_id,player_id,goal_type,created_at,updated_at
0,2,14,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
1,3,176,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
2,3,549,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
3,4,322,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
4,4,320,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
5,4,539,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
6,4,544,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
7,5,224,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
8,5,220,penalty,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
9,5,221,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
10,5,633,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
11,6,Transfert,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
12,6,453,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
13,6,Transfert,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
14,6,474,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412

In [122]:
#insert_table(df_goals, 'goals')

df_goals_table = read_db('SELECT * FROM goals')
df_goals_table.head(20)

,id,match_id,player_id,goal_type,created_at,updated_at
0,1,2,14,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
1,2,3,176,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
2,3,3,549,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
3,4,4,322,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
4,5,4,320,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
5,6,4,539,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
6,7,4,544,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
7,8,5,224,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
8,9,5,220,penalty,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
9,10,5,221,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
10,11,5,633,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
11,12,6,Transfert,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
12,13,6,453,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
13,14,6,Transfert,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
14,15,6,474,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
15,16,7,437,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
16,17,7,437,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
17,18,7,150,penalty,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
18,19,8,367,penalty,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412
19,20,8,367,normal,2021-07-02 20:04:36.099259,2021-07-02 20:04:36.101412