In [1]:
import sqlite3
import pandas as pd

In [2]:
# Connection à la db, crée le fichier s'il n'existe pas déjà
conn = sqlite3.connect('db_foot.sqlite3') 
c = conn.cursor()

In [3]:
# Requètes de creation des différentes tables
championships = '''CREATE TABLE IF NOT EXISTS championships (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name VARCHAR,
    country VARCHAR,
    start_year INTEGER,
    end_year INTEGER,
    created_at TIMESTAMP,
    updated_at TIMESTAMP)'''
teams = '''CREATE TABLE IF NOT EXISTS teams (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    championship_id INTEGER,
    name VARCHARD,
    city VARCHAR,
    coach_name VARCHAR,
    rank INTEGER,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    FOREIGN KEY(championship_id) REFERENCES championships(id))'''
players = '''CREATE TABLE IF NOT EXISTS players (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    full_name VARCHAR,
    birthdate DATE,
    team_id INTEGER,
    position VARCHAR,
    nationality VARCHAR,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    FOREIGN KEY(team_id) REFERENCES teams(id))'''
goals = '''CREATE TABLE IF NOT EXISTS goals (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    match_id INTEGER,
    player_id INTEGER,
    goal_type VARCHAR,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    FOREIGN KEY (player_id) REFERENCES players(id),
    FOREIGN KEY (match_id) REFERENCES matchs(id))'''
matchs = '''CREATE TABLE IF NOT EXISTS matchs(
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    date DATIME,
    place VARCHAR,
    rainfall FLOAT,
    temperature FLOAT,
    created_at TIMESTAMP,
    updated_at TIMESTAMP)'''
teams_matches = '''CREATE TABLE IF NOT EXISTS teams_matches (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    match_id INTEGER,
    team_id INTEGER,
    home BOOLEAN,
    team_goals INTEGER,
    points INTEGER,
    created_at TIMESTAMP,
    updated_at TIMESTAMP,
    FOREIGN KEY (team_id) REFERENCES teams(id)
    FOREIGN KEY (match_id) REFERENCES matchs(id))'''

In [4]:
# Fonctions de création et de suppression de table
def create_table(query):
    '''Create table from query specified'''
    c.execute(query)
    conn.commit()

def drop_table(table_name):
    '''Drop table specified'''
    c.execute('''DROP TABLE %s''' % (table_name,))
    conn.commit()

In [5]:
# Fonction d'insertion 
def add_championship(name, country, start_year, end_year):
    '''Add championship in table championships with values specified'''
    c.execute('''INSERT INTO championships (name, country, start_year, end_year, created_at, updated_at) VALUES (?, ?, ?, ?, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)''', (name,country,start_year,end_year))
    conn.commit()

In [6]:
# Version pandas
def insert_table(my_df, my_table):
  '''Insert Dataframe into table specified'''
  my_df.to_sql(my_table, conn, if_exists='append', index=False)

def read_db(my_query):
  '''Read sql query, read the db an return response in a dataframe'''
  df = pd.read_sql(my_query, conn)
  return df

In [7]:
# Sandbox
# drop_table('players')
# create_table(championships)
# create_table(matchs)
# create_table(teams)
# create_table(players)
# create_table(goals)
# create_table(teams_matches)

#add_championship('Ligue 1', 'France', 2020, 2021)

In [8]:
# Lis le contenu de la table
df_championships = read_db('''SELECT * FROM championships''')
df_championships

,id,name,country,start_year,end_year,created_at,updated_at
0,1,Ligue 1,France,2020,2021,2021-06-28 12:56:07,2021-06-28 12:56:07

In [9]:
# Recup id et nom dans un dict
championships_dict = {}
for championship in range(len(df_championships)):
    championship_dict = {df_championships.iloc[championship,1] : df_championships.iloc[championship, 0]}
    championships_dict.update(championship_dict)
championships_dict

{'Ligue 1': 1}

In [10]:
df_matchs = pd.read_csv('match_table.csv')
df_matchs.drop(['Unnamed: 0'], axis=1, inplace=True)

In [11]:
df_matchs

,date,place,rainfall,temperature,created_at,updated_at
0,2020-08-21 19:00:00+02:00,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
1,2020-08-22 17:00:00+02:00,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
2,2020-08-22 21:00:00+02:00,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
3,2020-08-23 13:00:00+02:00,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
4,2020-08-23 15:00:00+02:00,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
...,...,...,...,...,...,...
375,2021-05-23 21:00:00+02:00,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
376,2021-05-23 21:00:00+02:00,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
377,2021-05-23 21:00:00+02:00,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46
378,2021-05-23 21:00:00+02:00,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
379,2021-05-23 21:00:00+02:00,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46

In [12]:
#insert_table(df_matchs, 'matchs')

read_db('''SELECT * FROM matchs''')

,id,date,place,rainfall,temperature,created_at,updated_at
0,1,2020-08-21 19:00:00+02:00,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
1,2,2020-08-22 17:00:00+02:00,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
2,3,2020-08-22 21:00:00+02:00,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
3,4,2020-08-23 13:00:00+02:00,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
4,5,2020-08-23 15:00:00+02:00,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
...,...,...,...,...,...,...,...
375,376,2021-05-23 21:00:00+02:00,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
376,377,2021-05-23 21:00:00+02:00,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
377,378,2021-05-23 21:00:00+02:00,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46
378,379,2021-05-23 21:00:00+02:00,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46
379,380,2021-05-23 21:00:00+02:00,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46

In [13]:
df_teams = pd.read_csv('table_teams.csv', index_col=0)
df_teams

,championship_id,name,city,coach_name,rank,created_at,updated_at
0,Ligue 1,Angers Sporting Club de l'Ouest,Angers,Gérald BATICLE,44,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
1,Ligue 1,Football Club des Girondins de Bordeaux,Bordeaux,Jean-Louis GASSET,45,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
2,Ligue 1,Stade Brestois 29,Brest,Michel DER ZAKARIAN,41,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
3,Ligue 1,Dijon Football Côte-d'Or,Dijon,David LINARES,21,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
4,Ligue 1,Racing Club de Lens,Lens,Franck HAISE,57,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
5,Ligue 1,LOSC Lille,Lille,Christophe GALTIER,83,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
6,Ligue 1,Football Club Lorient-Bretagne Sud,Lorient,Christophe PELISSIER,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
7,Ligue 1,Olympique Lyonnais,Lyon,Peter BOSZ,76,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
8,Ligue 1,Olympique de Marseille,Marseille,Jorge SAMPAOLI,60,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
9,Ligue 1,Football Club de Metz,Metz,Frédéric ANTONETTI,47,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
10,Ligue 1,Association sportive de Monaco FC,Monaco,Niko KOVAC,78,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
11,Ligue 1,Montpellier-Herault Sport Club,Montpellier,Olivier DALL'OGLIO,54,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
12,Ligue 1,Football Club de Nantes,Nantes,Antoine KOMBOUARE,40,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
13,Ligue 1,Olympique Gymnaste Club Nice Côte d'Azur,Nice,Adrian URSEA,52,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
14,Ligue 1,Nîmes Olympique,Nîmes,Pascal PLANCQUE,35,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
15,Ligue 1,Paris-Saint-Germain Football Club,Paris,Mauricio POCHETTINO,82,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
16,Ligue 1,Stade de Reims,Reims,Oscar GARCIA,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
17,Ligue 1,Stade Rennais Football Club,Rennes,Bruno GENESIO,58,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
18,Ligue 1,Association Sportive de St-Etienne,Saint-Étienne,Claude PUEL,46,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
19,Ligue 1,Racing Club de Strasbourg Alsace,Strasbourg,Julien STEPHAN,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113

In [14]:
#map colonne avec dictionnaire des ids
df_teams['championship_id'] = df_teams['championship_id'].map(championships_dict)
df_teams

,championship_id,name,city,coach_name,rank,created_at,updated_at
0,1,Angers Sporting Club de l'Ouest,Angers,Gérald BATICLE,44,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
1,1,Football Club des Girondins de Bordeaux,Bordeaux,Jean-Louis GASSET,45,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
2,1,Stade Brestois 29,Brest,Michel DER ZAKARIAN,41,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
3,1,Dijon Football Côte-d'Or,Dijon,David LINARES,21,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
4,1,Racing Club de Lens,Lens,Franck HAISE,57,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
5,1,LOSC Lille,Lille,Christophe GALTIER,83,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
6,1,Football Club Lorient-Bretagne Sud,Lorient,Christophe PELISSIER,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
7,1,Olympique Lyonnais,Lyon,Peter BOSZ,76,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
8,1,Olympique de Marseille,Marseille,Jorge SAMPAOLI,60,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
9,1,Football Club de Metz,Metz,Frédéric ANTONETTI,47,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
10,1,Association sportive de Monaco FC,Monaco,Niko KOVAC,78,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
11,1,Montpellier-Herault Sport Club,Montpellier,Olivier DALL'OGLIO,54,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
12,1,Football Club de Nantes,Nantes,Antoine KOMBOUARE,40,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
13,1,Olympique Gymnaste Club Nice Côte d'Azur,Nice,Adrian URSEA,52,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
14,1,Nîmes Olympique,Nîmes,Pascal PLANCQUE,35,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
15,1,Paris-Saint-Germain Football Club,Paris,Mauricio POCHETTINO,82,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
16,1,Stade de Reims,Reims,Oscar GARCIA,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
17,1,Stade Rennais Football Club,Rennes,Bruno GENESIO,58,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
18,1,Association Sportive de St-Etienne,Saint-Étienne,Claude PUEL,46,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
19,1,Racing Club de Strasbourg Alsace,Strasbourg,Julien STEPHAN,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113

In [15]:
#insert_table(df_teams, 'teams')

df_teams_table = read_db('''SELECT * FROM teams''')
df_teams_table

,id,championship_id,name,city,coach_name,rank,created_at,updated_at
0,1,1,Angers Sporting Club de l'Ouest,Angers,Gérald BATICLE,44,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
1,2,1,Football Club des Girondins de Bordeaux,Bordeaux,Jean-Louis GASSET,45,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
2,3,1,Stade Brestois 29,Brest,Michel DER ZAKARIAN,41,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
3,4,1,Dijon Football Côte-d'Or,Dijon,David LINARES,21,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
4,5,1,Racing Club de Lens,Lens,Franck HAISE,57,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
5,6,1,LOSC Lille,Lille,Christophe GALTIER,83,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
6,7,1,Football Club Lorient-Bretagne Sud,Lorient,Christophe PELISSIER,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
7,8,1,Olympique Lyonnais,Lyon,Peter BOSZ,76,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
8,9,1,Olympique de Marseille,Marseille,Jorge SAMPAOLI,60,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
9,10,1,Football Club de Metz,Metz,Frédéric ANTONETTI,47,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
10,11,1,Association sportive de Monaco FC,Monaco,Niko KOVAC,78,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
11,12,1,Montpellier-Herault Sport Club,Montpellier,Olivier DALL'OGLIO,54,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
12,13,1,Football Club de Nantes,Nantes,Antoine KOMBOUARE,40,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
13,14,1,Olympique Gymnaste Club Nice Côte d'Azur,Nice,Adrian URSEA,52,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
14,15,1,Nîmes Olympique,Nîmes,Pascal PLANCQUE,35,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
15,16,1,Paris-Saint-Germain Football Club,Paris,Mauricio POCHETTINO,82,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
16,17,1,Stade de Reims,Reims,Oscar GARCIA,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
17,18,1,Stade Rennais Football Club,Rennes,Bruno GENESIO,58,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
18,19,1,Association Sportive de St-Etienne,Saint-Étienne,Claude PUEL,46,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
19,20,1,Racing Club de Strasbourg Alsace,Strasbourg,Julien STEPHAN,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113

In [16]:
# Recup id et nom dans un dict
teams_dict = {}
for team in range(len(df_teams_table)):
    team_dict = {
        df_teams_table.iloc[team, 2]: df_teams_table.iloc[team, 0]}
    teams_dict.update(team_dict)
teams_dict

{"Angers Sporting Club de l'Ouest": 1,
 'Football Club des Girondins de Bordeaux': 2,
 'Stade Brestois 29': 3,
 "Dijon Football Côte-d'Or": 4,
 'Racing Club de Lens': 5,
 'LOSC Lille': 6,
 'Football Club Lorient-Bretagne Sud': 7,
 'Olympique Lyonnais': 8,
 'Olympique de Marseille': 9,
 'Football Club de Metz': 10,
 'Association sportive de Monaco FC': 11,
 'Montpellier-Herault Sport Club': 12,
 'Football Club de Nantes': 13,
 "Olympique Gymnaste Club Nice Côte d'Azur": 14,
 'Nîmes Olympique': 15,
 'Paris-Saint-Germain Football Club': 16,
 'Stade de Reims': 17,
 'Stade Rennais Football Club': 18,
 'Association Sportive de St-Etienne': 19,
 'Racing Club de Strasbourg Alsace': 20}

In [17]:
df_players = pd.read_csv('table_players.csv', index_col=0)
df_players

,full_name,birthdate,team_id,position,nationality,created_at,updated_at
0,P. Bernardoni,18/04/97,Angers Sporting Club de l'Ouest,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
1,L. Butelle,3/04/83,Angers Sporting Club de l'Ouest,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
2,D. Petkovic,25/05/93,Angers Sporting Club de l'Ouest,Gar.,MNE,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
3,A. Bamba,25/04/90,Angers Sporting Club de l'Ouest,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
4,K. Boma,20/11/02,Angers Sporting Club de l'Ouest,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
...,...,...,...,...,...,...,...
642,L. Mothiba,28/01/96,Racing Club de Strasbourg Alsace,Att.,AFS,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
643,I. Saadi,8/02/92,Racing Club de Strasbourg Alsace,Att.,ALG,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
644,M. Sahi,20/12/01,Racing Club de Strasbourg Alsace,Att.,MLI,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
645,A. Waris,19/09/91,Racing Club de Strasbourg Alsace,Att.,GHA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
646,K. Zohi,19/12/96,Racing Club de Strasbourg Alsace,Att.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645

In [18]:
df_players['team_id'] = df_players['team_id'].map(teams_dict)
df_players

,full_name,birthdate,team_id,position,nationality,created_at,updated_at
0,P. Bernardoni,18/04/97,1,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
1,L. Butelle,3/04/83,1,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
2,D. Petkovic,25/05/93,1,Gar.,MNE,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
3,A. Bamba,25/04/90,1,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
4,K. Boma,20/11/02,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
...,...,...,...,...,...,...,...
642,L. Mothiba,28/01/96,20,Att.,AFS,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
643,I. Saadi,8/02/92,20,Att.,ALG,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
644,M. Sahi,20/12/01,20,Att.,MLI,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
645,A. Waris,19/09/91,20,Att.,GHA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
646,K. Zohi,19/12/96,20,Att.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645

In [19]:
# insert_table(df_players, 'players')

df_players_table = read_db('''SELECT * FROM players''')
df_players_table.head(40)

,id,full_name,birthdate,team_id,position,nationality,created_at,updated_at
0,1,P. Bernardoni,18/04/97,1,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
1,2,L. Butelle,3/04/83,1,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
2,3,D. Petkovic,25/05/93,1,Gar.,MNE,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
3,4,A. Bamba,25/04/90,1,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
4,5,K. Boma,20/11/02,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
5,6,E. Diaw,31/12/94,1,Déf.,SEN,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
6,7,S. Doumbia,24/09/96,1,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
7,8,I. Dramé,None,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
8,9,E. Ebosse,11/03/99,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
9,10,O. Falouh,12/07/99,1,Déf.,MAR,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
10,11,V. Manceau,10/07/89,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
11,12,M. Pavlovic,9/06/90,1,Déf.,CRO,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
12,13,R. Thomas,12/06/88,1,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
13,14,I. Traoré,18/08/86,1,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
14,15,I. Amadou,6/04/93,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
15,16,K. Bemanga,20/04/98,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
16,17,A. Bobichon,14/09/95,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
17,18,S. Boufal,17/09/93,1,Mil.,MAR,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
18,19,J. Cabot,18/04/94,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
19,20,P. Capelle,15/04/87,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
20,21,M. Cho,19/01/04,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
21,22,L. Coulibaly,10/04/96,1,Mil.,MLI,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
22,23,A. Fulgini,20/08/96,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
23,24,T. Mangani,29/04/87,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
24,25,K. Mouanga,24/07/00,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
25,26,Z. Ould Khaled,14/01/00,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
26,27,M. Pereira Lage,30/11/96,1,Mil.,POR,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
27,28,W. Taïbi,7/03/02,1,Mil.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
28,29,R. Alioui,18/06/92,1,Att.,MAR,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
29,30,S. Bahoken,28/05/92,1,Att.,CAM,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
30,31,L. Diony,20/12/92,1,Att.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
31,32,F. El-Melali,13/07/97,1,Att.,ALG,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
32,33,N. Fatar,15/02/02,1,Att.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
33,34,Y. Fortuné,30/01/99,1,Att.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
34,35,S. Thioub,1/06/95,1,Att.,SEN,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
35,36,B. Costil,3/07/87,2,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
36,37,D. Lima Semedo,27/04/02,2,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
37,38,C. Michel,20/03/00,2,Gar.,BEL,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
38,39,G. Poussin,13/01/99,2,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
39,40,D. Rouyard,17/08/99,2,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645

In [28]:
df_matchs_table = read_db('SELECT * FROM matchs')
df_matchs

,id,date,place,rainfall,temperature,created_at,updated_at,match
0,1,2020-08-21 19:00:00+02:00,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-21 19:00:00+02:00 Bordeaux
1,2,2020-08-22 17:00:00+02:00,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 17:00:00+02:00 Dijon
2,3,2020-08-22 21:00:00+02:00,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 21:00:00+02:00 Lille
3,4,2020-08-23 13:00:00+02:00,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 13:00:00+02:00 Monaco
4,5,2020-08-23 15:00:00+02:00,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 15:00:00+02:00 Lorient
...,...,...,...,...,...,...,...,...
375,376,2021-05-23 21:00:00+02:00,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Rennes
376,377,2021-05-23 21:00:00+02:00,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Nantes
377,378,2021-05-23 21:00:00+02:00,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Saint-Étienne
378,379,2021-05-23 21:00:00+02:00,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Reims
379,380,2021-05-23 21:00:00+02:00,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Strasbourg

In [30]:
df_matchs_table['match'] = df_matchs_table['date'].astype(str) + ' ' + df_matchs_table['place']
df_matchs_table

,id,date,place,rainfall,temperature,created_at,updated_at,match
0,1,2020-08-21 19:00:00+02:00,Bordeaux,5.000000,24.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-21 19:00:00+02:00 Bordeaux
1,2,2020-08-22 17:00:00+02:00,Dijon,19.000000,26.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 17:00:00+02:00 Dijon
2,3,2020-08-22 21:00:00+02:00,Lille,1.000000,21.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-22 21:00:00+02:00 Lille
3,4,2020-08-23 13:00:00+02:00,Monaco,1.000000,27.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 13:00:00+02:00 Monaco
4,5,2020-08-23 15:00:00+02:00,Lorient,1.000000,19.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2020-08-23 15:00:00+02:00 Lorient
...,...,...,...,...,...,...,...,...
375,376,2021-05-23 21:00:00+02:00,Rennes,2.000000,15.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Rennes
376,377,2021-05-23 21:00:00+02:00,Nantes,1.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Nantes
377,378,2021-05-23 21:00:00+02:00,Saint-Étienne,4.277397,13.279778,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Saint-Étienne
378,379,2021-05-23 21:00:00+02:00,Reims,1.000000,14.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Reims
379,380,2021-05-23 21:00:00+02:00,Strasbourg,2.000000,16.000000,2021-06-30 12:01:37,2021-06-30 12:06:46,2021-05-23 21:00:00+02:00 Strasbourg

In [34]:
matchs_dict = {}
for match in range(len(df_matchs_table)):
    match_dict = {
        df_matchs_table.iloc[match, 7]: df_matchs_table.iloc[match, 0]}
    matchs_dict.update(match_dict)
matchs_dict

{'2020-08-21 19:00:00+02:00 Bordeaux': 1,
 '2020-08-22 17:00:00+02:00 Dijon': 2,
 '2020-08-22 21:00:00+02:00 Lille': 3,
 '2020-08-23 13:00:00+02:00 Monaco': 4,
 '2020-08-23 15:00:00+02:00 Lorient': 5,
 '2020-08-23 15:00:00+02:00 Nîmes': 6,
 '2020-08-23 17:00:00+02:00 Nice': 7,
 '2020-09-15 21:00:00+02:00 Montpellier': 8,
 '2020-09-16 21:00:00+02:00 Paris': 9,
 '2020-09-17 21:00:00+02:00 Marseille': 10,
 '2020-08-28 21:00:00+02:00 Lyon': 11,
 '2020-08-29 17:00:00+02:00 Rennes': 12,
 '2020-08-29 21:00:00+02:00 Strasbourg': 13,
 '2020-08-30 13:00:00+02:00 Reims': 14,
 '2020-08-30 15:00:00+02:00 Nantes': 15,
 '2020-08-30 15:00:00+02:00 Saint-Étienne': 16,
 '2020-08-30 15:00:00+02:00 Angers': 17,
 '2020-08-30 15:00:00+02:00 Metz': 18,
 '2020-08-30 21:00:00+02:00 Brest': 19,
 '2020-09-10 21:00:00+02:00 Lens': 20,
 '2020-09-11 21:00:00+02:00 Bordeaux': 21,
 '2020-09-12 17:00:00+02:00 Montpellier': 22,
 '2020-09-12 21:00:00+02:00 Saint-Étienne': 23,
 '2020-09-13 13:00:00+02:00 Lille': 24,
 '2020-09-13 15:00:00+02:00 Nîmes': 25,
 '2020-09-13 15:00:00+02:00 Lorient': 26,
 '2020-09-13 15:00:00+02:00 Angers': 27,
 '2020-09-13 15:00:00+02:00 Dijon': 28,
 '2020-09-13 17:00:00+02:00 Monaco': 29,
 '2020-09-13 21:00:00+02:00 Paris': 30,
 '2020-09-18 21:00:00+02:00 Lyon': 31,
 '2020-09-19 17:00:00+02:00 Lens': 32,
 '2020-09-19 21:00:00+02:00 Rennes': 33,
 '2020-09-20 13:00:00+02:00 Nice': 34,
 '2020-09-20 15:00:00+02:00 Montpellier': 35,
 '2020-09-20 15:00:00+02:00 Brest': 36,
 '2020-09-20 15:00:00+02:00 Metz': 37,
 '2020-09-20 15:00:00+02:00 Strasbourg': 38,
 '2020-09-20 17:00:00+02:00 Nantes': 39,
 '2020-09-20 21:00:00+02:00 Marseille': 40,
 '2020-09-25 21:00:00+02:00 Lille': 41,
 '2020-09-26 17:00:00+02:00 Saint-Étienne': 42,
 '2020-09-26 21:00:00+02:00 Marseille': 43,
 '2020-09-27 13:00:00+02:00 Bordeaux': 44,
 '2020-09-27 15:00:00+02:00 Dijon': 45,
 '2020-09-27 15:00:00+02:00 Nîmes': 46,
 '2020-09-27 15:00:00+02:00 Monaco': 47,
 '2020-09-27 15:00:00+02:00 Angers': 48,
 '2020-09-27 17:00:00+02:00 Lorient': 49,
 '2020-09-27 21:00:00+02:00 Reims': 50,
 '2020-10-02 21:00:00+02:00 Paris': 51,
 '2020-10-03 17:00:00+02:00 Lens': 52,
 '2020-10-03 21:00:00+02:00 Nice': 53,
 '2020-10-04 13:00:00+02:00 Montpellier': 54,
 '2020-10-04 15:00:00+02:00 Strasbourg': 55,
 '2020-10-04 15:00:00+02:00 Brest': 56,
 '2020-10-04 15:00:00+02:00 Bordeaux': 57,
 '2020-10-04 15:00:00+02:00 Metz': 58,
 '2020-10-04 17:00:00+02:00 Rennes': 59,
 '2020-10-04 21:00:00+02:00 Lyon': 60,
 '2020-10-16 19:00:00+02:00 Dijon': 61,
 '2020-10-16 21:00:00+02:00 Nîmes': 62,
 '2020-10-17 17:00:00+02:00 Reims': 63,
 '2020-10-17 21:00:00+02:00 Marseille': 64,
 '2020-10-18 13:00:00+02:00 Strasbourg': 65,
 '2020-10-18 15:00:00+02:00 Monaco': 66,
 '2020-10-18 15:00:00+02:00 Nantes': 67,
 '2020-10-18 15:00:00+02:00 Angers': 68,
 '2020-10-18 17:00:00+02:00 Saint-Étienne': 69,
 '2020-10-18 21:00:00+02:00 Lille': 70,
 '2020-10-23 21:00:00+02:00 Rennes': 71,
 '2020-10-24 17:00:00+02:00 Lorient': 72,
 '2020-10-24 21:00:00+02:00 Paris': 73,
 '2020-10-25 15:00:00+01:00 Montpellier': 74,
 '2020-10-25 15:00:00+01:00 Metz': 75,
 '2020-10-25 15:00:00+01:00 Bordeaux': 76,
 '2020-10-25 15:00:00+01:00 Brest': 77,
 '2020-10-25 17:00:00+01:00 Nice': 78,
 '2020-10-25 21:00:00+01:00 Lyon': 79,
 '2020-11-25 19:00:00+01:00 Lens': 80,
 '2020-10-31 17:00:00+01:00 Rennes': 81,
 '2020-10-31 21:00:00+01:00 Nantes': 82,
 '2020-11-01 13:00:00+01:00 Saint-Étienne': 83,
 '2020-11-01 15:00:00+01:00 Angers': 84,
 '2020-11-01 15:00:00+01:00 Nîmes': 85,
 '2020-11-01 15:00:00+01:00 Dijon': 86,
 '2020-11-01 15:00:00+01:00 Reims': 87,
 '2020-11-01 17:00:00+01:00 Monaco': 88,
 '2020-11-01 21:00:00+01:00 Lille': 89,
 '2021-01-20 21:00:00+01:00 Marseille': 90,
 '2020-11-06 21:00:00+01:00 Strasbourg': 91,
 '2020-11-07 17:00:00+01:00 Bordeaux': 92,
 '2020-11-07 21:00:00+01:00 Paris': 93,
 '2020-11-08 13:00:00+01:00 Brest': 94,
 '2020-11-08 15:00:00+01:00 Lens': 95,
 '2020-11-08 15:00:00+01:00 Metz': 96,
 '2020-11-08 15:00:00+01:00 Nîmes': 97,
 '2020-11-08 15:00:00+01:00 Lorient': 98,
 '2020-11-08 17:00:00+01:00 Nice': 99,
 '2020-11-08 21:00:00+01:00 Lyon': 100,
 '2020-11-20 19:00:00+01:00 Rennes': 101,
 '2020-11-20 21:00:00+01:00 Monaco': 102,
 '2020-11-21 17:00:00+01:00 Brest': 103,
 '2020-11-22 13:00:00+01:00 Nantes': 104,
 '2020-11-22 15:00:00+01:00 Montpellier': 105,
 '2020-11-22 15:00:00+01:00 Dijon': 106,
 '2020-11-22 15:00:00+01:00 Reims': 107,
 '2020-11-22 17:00:00+01:00 Angers': 108,
 '2020-11-22 21:00:00+01:00 Lille': 109,
 '2021-02-17 21:00:00+01:00 Marseille': 110,
 '2020-11-27 21:00:00+01:00 Strasbourg': 111,
 '2020-11-28 17:00:00+01:00 Marseille': 112,
 '2020-11-28 21:00:00+01:00 Paris': 113,
 '2020-11-29 13:00:00+01:00 Lyon': 114,
 '2020-11-29 15:00:00+01:00 Lens': 115,
 '2020-11-29 15:00:00+01:00 Lorient': 116,
 '2020-11-29 15:00:00+01:00 Monaco': 117,
 '2020-11-29 15:00:00+01:00 Metz': 118,
 '2020-11-29 17:00:00+01:00 Nice': 119,
 '2020-11-29 21:00:00+01:00 Saint-Étienne': 120,
 '2020-12-04 21:00:00+01:00 Nîmes': 121,
 '2020-12-05 17:00:00+01:00 Rennes': 122,
 '2020-12-05 21:00:00+01:00 Montpellier': 123,
 '2020-12-06 13:00:00+01:00 Lille': 124,
 '2020-12-06 15:00:00+01:00 Angers': 125,
 '2020-12-06 15:00:00+01:00 Bordeaux': 126,
 '2020-12-06 15:00:00+01:00 Nantes': 127,
 '2020-12-06 15:00:00+01:00 Dijon': 128,
 '2020-12-06 17:00:00+01:00 Reims': 129,
 '2020-12-06 21:00:00+01:00 Metz': 130,
 '2020-12-11 21:00:00+01:00 Saint-Étienne': 131,
 '2020-12-12 17:00:00+01:00 Marseille': 132,
 '2020-12-12 21:00:00+01:00 Lens': 133,
 '2020-12-13 13:00:00+01:00 Nice': 134,
 '2020-12-13 15:00:00+01:00 Brest': 135,
 '2020-12-13 15:00:00+01:00 Strasbourg': 136,
 '2020-12-13 15:00:00+01:00 Nantes': 137,
 '2020-12-13 15:00:00+01:00 Lorient': 138,
 '2020-12-13 17:00:00+01:00 Lille': 139,
 '2020-12-13 21:00:00+01:00 Paris': 140,
 '2020-12-16 19:00:00+01:00 Dijon': 141,
 '2020-12-16 19:00:00+01:00 Montpellier': 142,
 '2020-12-16 19:00:00+01:00 Angers': 143,
 '2020-12-16 19:00:00+01:00 Nîmes': 144,
 '2020-12-16 19:00:00+01:00 Reims': 145,
 '2020-12-16 21:00:00+01:00 Lyon': 146,
 '2020-12-16 21:00:00+01:00 Paris': 147,
 '2020-12-16 21:00:00+01:00 Rennes': 148,
 '2020-12-16 21:00:00+01:00 Monaco': 149,
 '2020-12-16 21:00:00+01:00 Bordeaux': 150,
 '2020-12-19 17:00:00+01:00 Metz': 151,
 '2020-12-19 19:00:00+01:00 Marseille': 152,
 '2020-12-19 21:00:00+01:00 Nice': 153,
 '2020-12-20 13:00:00+01:00 Brest': 154,
 '2020-12-20 15:00:00+01:00 Dijon': 155,
 '2020-12-20 15:00:00+01:00 Nantes': 156,
 '2020-12-20 15:00:00+01:00 Strasbourg': 157,
 '2020-12-20 15:00:00+01:00 Saint-Étienne': 158,
 '2020-12-20 17:00:00+01:00 Lorient': 159,
 '2020-12-20 21:00:00+01:00 Lille': 160,
 '2020-12-23 19:00:00+01:00 Rennes': 161,
 '2020-12-23 19:00:00+01:00 Lens': 162,
 '2020-12-23 19:00:00+01:00 Bordeaux': 163,
 '2020-12-23 19:00:00+01:00 Nice': 164,
 '2020-12-23 19:00:00+01:00 Nîmes': 165,
 '2020-12-23 21:00:00+01:00 Montpellier': 166,
 '2020-12-23 21:00:00+01:00 Lyon': 167,
 '2020-12-23 21:00:00+01:00 Paris': 168,
 '2020-12-23 21:00:00+01:00 Angers': 169,
 '2020-12-23 21:00:00+01:00 Monaco': 170,
 '2021-01-06 19:00:00+01:00 Nantes': 171,
 '2021-01-06 19:00:00+01:00 Lorient': 172,
 '2021-01-06 19:00:00+01:00 Metz': 173,
 '2021-01-06 19:00:00+01:00 Brest': 174,
 '2021-01-06 19:00:00+01:00 Strasbourg': 175,
 '2021-01-06 21:00:00+01:00 Lyon': 176,
 '2021-01-06 21:00:00+01:00 Lille': 177,
 '2021-01-06 21:00:00+01:00 Saint-Étienne': 178,
 '2021-01-06 21:00:00+01:00 Marseille': 179,
 '2021-01-06 21:00:00+01:00 Reims': 180,
 '2021-01-09 21:00:00+01:00 Rennes': 181,
 '2021-01-09 21:00:00+01:00 Paris': 182,
 '2021-01-09 21:00:00+01:00 Nîmes': 183,
 '2021-01-09 21:00:00+01:00 Dijon': 184,
 '2021-01-09 21:00:00+01:00 Monaco': 185,
 '2021-01-09 21:00:00+01:00 Lens': 186,
 '2021-01-09 21:00:00+01:00 Montpellier': 187,
 '2021-01-09 21:00:00+01:00 Metz': 188,
 '2021-01-09 21:00:00+01:00 Bordeaux': 189,
 '2021-01-09 21:00:00+01:00 Reims': 190,
 '2021-01-15 21:00:00+01:00 Montpellier': 191,
 '2021-01-16 17:00:00+01:00 Marseille': 192,
 '2021-01-16 21:00:00+01:00 Angers': 193,
 '2021-01-17 13:00:00+01:00 Brest': 194,
 '2021-01-17 15:00:00+01:00 Nantes': 195,
 '2021-01-17 15:00:00+01:00 Nice': 196,
 '2021-01-17 15:00:00+01:00 Strasbourg': 197,
 '2021-01-17 17:00:00+01:00 Lille': 198,
 '2021-01-17 21:00:00+01:00 Lyon': 199,
 '2021-01-27 21:00:00+01:00 Lorient': 200,
 '2021-01-22 21:00:00+01:00 Paris': 201,
 '2021-01-23 17:00:00+01:00 Lens': 202,
 '2021-01-23 21:00:00+01:00 Monaco': 203,
 '2021-01-24 13:00:00+01:00 Bordeaux': 204,
 '2021-01-24 15:00:00+01:00 Metz': 205,
 '2021-01-24 15:00:00+01:00 Reims': 206,
 '2021-01-24 15:00:00+01:00 Dijon': 207,
 '2021-01-24 17:00:00+01:00 Rennes': 208,
 '2021-01-24 21:00:00+01:00 Saint-Étienne': 209,
 '2021-02-24 19:00:00+01:00 Nîmes': 210,
 '2021-01-29 21:00:00+01:00 Lyon': 211,
 '2021-01-30 17:00:00+01:00 Montpellier': 212,
 '2021-01-31 13:00:00+01:00 Nice': 213,
 '2021-01-31 15:00:00+01:00 Lorient': 214,
 '2021-01-31 15:00:00+01:00 Brest': 215,
 '2021-01-31 15:00:00+01:00 Angers': 216,
 '2021-01-31 15:00:00+01:00 Strasbourg': 217,
 '2021-01-31 17:00:00+01:00 Lille': 218,
 '2021-01-31 21:00:00+01:00 Nantes': 219,
 '2021-03-10 19:00:00+01:00 Marseille': 220,
 '2021-02-03 19:00:00+01:00 Bordeaux': 221,
 '2021-02-03 19:00:00+01:00 Rennes': 222,
 '2021-02-03 19:00:00+01:00 Metz': 223,
 '2021-02-03 19:00:00+01:00 Reims': 224,
 '2021-02-03 19:00:00+01:00 Strasbourg': 225,
 '2021-02-03 21:00:00+01:00 Dijon': 226,
 '2021-02-03 21:00:00+01:00 Paris': 227,
 '2021-02-03 21:00:00+01:00 Monaco': 228,
 '2021-02-03 21:00:00+01:00 Lens': 229,
 '2021-02-03 21:00:00+01:00 Saint-Étienne': 230,
 '2021-02-06 17:00:00+01:00 Lorient': 231,
 '2021-02-06 19:00:00+01:00 Lyon': 232,
 '2021-02-06 21:00:00+01:00 Lens': 233,
 '2021-02-07 13:00:00+01:00 Brest': 234,
 '2021-02-07 15:00:00+01:00 Nîmes': 235,
 '2021-02-07 15:00:00+01:00 Saint-Étienne': 236,
 '2021-02-07 15:00:00+01:00 Nice': 237,
 '2021-02-07 15:00:00+01:00 Montpellier': 238,
 '2021-02-07 17:00:00+01:00 Nantes': 239,
 '2021-02-07 21:00:00+01:00 Marseille': 240,
 '2021-02-13 17:00:00+01:00 Paris': 241,
 '2021-02-13 19:00:00+01:00 Reims': 242,
 '2021-02-13 21:00:00+01:00 Lyon': 243,
 '2021-02-14 13:00:00+01:00 Monaco': 244,
 '2021-02-14 15:00:00+01:00 Rennes': 245,
 '2021-02-14 15:00:00+01:00 Metz': 246,
 '2021-02-14 15:00:00+01:00 Angers': 247,
 '2021-02-14 15:00:00+01:00 Dijon': 248,
 '2021-02-14 17:05:00+01:00 Lille': 249,
 '2021-02-14 21:00:00+01:00 Bordeaux': 250,
 '2021-02-19 21:00:00+01:00 Brest': 251,
 '2021-02-20 13:00:00+01:00 Saint-Étienne': 252,
 '2021-02-20 17:00:00+01:00 Nantes': 253,
 '2021-02-21 13:00:00+01:00 Montpellier': 254,
 '2021-02-21 15:00:00+01:00 Lens': 255,
 '2021-02-21 15:00:00+01:00 Nice': 256,
 '2021-02-21 15:00:00+01:00 Strasbourg': 257,
 '2021-02-21 15:00:00+01:00 Nîmes': 258,
 '2021-02-21 17:05:00+01:00 Lorient': 259,
 '2021-02-21 21:00:00+01:00 Paris': 260,
 '2021-02-26 21:00:00+01:00 Rennes': 261,
 '2021-02-27 13:00:00+01:00 Bordeaux': 262,
 '2021-02-27 17:00:00+01:00 Dijon': 263,
 '2021-02-28 13:00:00+01:00 Monaco': 264,
 '2021-02-28 15:00:00+01:00 Angers': 265,
 '2021-02-28 15:00:00+01:00 Reims': 266,
 '2021-02-28 15:00:00+01:00 Lorient': 267,
 '2021-02-28 15:00:00+01:00 Nîmes': 268,
 '2021-02-28 17:05:00+01:00 Lille': 269,
 '2021-02-28 21:00:00+01:00 Marseille': 270,
 '2021-03-03 19:00:00+01:00 Lyon': 271,
 '2021-03-03 19:00:00+01:00 Metz': 272,
 '2021-03-03 19:00:00+01:00 Saint-Étienne': 273,
 '2021-03-03 19:00:00+01:00 Nice': 274,
 '2021-03-03 19:00:00+01:00 Brest': 275,
 '2021-03-03 21:00:00+01:00 Lille': 276,
 '2021-03-03 21:00:00+01:00 Bordeaux': 277,
 '2021-03-03 21:00:00+01:00 Strasbourg': 278,
 '2021-03-03 21:00:00+01:00 Montpellier': 279,
 '2021-03-03 21:00:00+01:00 Nantes': 280,
 '2021-03-12 21:00:00+01:00 Reims': 281,
 '2021-03-13 13:00:00+01:00 Angers': 282,
 '2021-03-13 17:00:00+01:00 Marseille': 283,
 '2021-03-14 13:00:00+01:00 Nîmes': 284,
 '2021-03-14 15:00:00+01:00 Lens': 285,
 '2021-03-14 15:00:00+01:00 Rennes': 286,
 '2021-03-14 15:00:00+01:00 Lorient': 287,
 '2021-03-14 15:00:00+01:00 Dijon': 288,
 '2021-03-14 17:05:00+01:00 Monaco': 289,
 '2021-03-14 21:00:00+01:00 Paris': 290,
 '2021-03-19 21:00:00+01:00 Saint-Étienne': 291,
 '2021-03-20 13:00:00+01:00 Metz': 292,
 '2021-03-20 17:00:00+01:00 Nice': 293,
 '2021-03-21 13:00:00+01:00 Strasbourg': 294,
 '2021-03-21 15:00:00+01:00 Montpellier': 295,
 '2021-03-21 15:00:00+01:00 Brest': 296,
 '2021-03-21 15:00:00+01:00 Dijon': 297,
 '2021-03-21 15:00:00+01:00 Nantes': 298,
 '2021-03-21 17:05:00+01:00 Lille': 299,
 '2021-03-21 21:00:00+01:00 Lyon': 300,
 '2021-04-03 13:00:00+02:00 Monaco': 301,
 '2021-04-03 17:00:00+02:00 Paris': 302,
 '2021-04-03 21:00:00+02:00 Lens': 303,
 '2021-04-04 13:00:00+02:00 Angers': 304,
 '2021-04-04 15:00:00+02:00 Reims': 305,
 '2021-04-04 15:00:00+02:00 Nantes': 306,
 '2021-04-04 15:00:00+02:00 Bordeaux': 307,
 '2021-04-04 15:00:00+02:00 Lorient': 308,
 '2021-04-04 17:05:00+02:00 Nîmes': 309,
 '2021-04-04 21:00:00+02:00 Marseille': 310,
 '2021-04-09 21:00:00+02:00 Metz': 311,
 '2021-04-10 17:00:00+02:00 Strasbourg': 312,
 '2021-04-10 21:00:00+02:00 Montpellier': 313,
 '2021-04-11 13:00:00+02:00 Rennes': 314,
 '2021-04-11 15:00:00+02:00 Lens': 315,
 '2021-04-11 15:00:00+02:00 Nice': 316,
 '2021-04-11 15:00:00+02:00 Saint-Étienne': 317,
 '2021-04-11 15:00:00+02:00 Brest': 318,
 '2021-04-11 17:05:00+02:00 Monaco': 319,
 '2021-04-11 21:00:00+02:00 Lyon': 320,
 '2021-04-16 21:00:00+02:00 Lille': 321,
 '2021-04-17 12:45:00+02:00 Angers': 322,
 '2021-04-17 17:00:00+02:00 Marseille': 323,
 '2021-04-18 13:00:00+02:00 Paris': 324,
 '2021-04-18 15:00:00+02:00 Brest': 325,
 '2021-04-18 15:00:00+02:00 Dijon': 326,
 '2021-04-18 15:00:00+02:00 Reims': 327,
 '2021-04-18 15:00:00+02:00 Nîmes': 328,
 '2021-04-18 17:05:00+02:00 Bordeaux': 329,
 '2021-04-18 21:00:00+02:00 Nantes': 330,
 '2021-04-23 21:00:00+02:00 Reims': 331,
 '2021-04-24 13:00:00+02:00 Saint-Étienne': 332,
 '2021-04-24 17:00:00+02:00 Metz': 333,
 '2021-04-25 13:00:00+02:00 Nice': 334,
 '2021-04-25 15:00:00+02:00 Lens': 335,
 '2021-04-25 15:00:00+02:00 Rennes': 336,
 '2021-04-25 15:00:00+02:00 Strasbourg': 337,
 '2021-04-25 15:00:00+02:00 Lorient': 338,
 '2021-04-25 17:05:00+02:00 Angers': 339,
 '2021-04-25 21:00:00+02:00 Lyon': 340,
 '2021-04-30 21:00:00+02:00 Marseille': 341,
 '2021-05-01 17:00:00+02:00 Paris': 342,
 '2021-05-01 21:00:00+02:00 Lille': 343,
 '2021-05-02 13:00:00+02:00 Bordeaux': 344,
 '2021-05-02 15:00:00+02:00 Dijon': 345,
 '2021-05-02 15:00:00+02:00 Nîmes': 346,
 '2021-05-02 15:00:00+02:00 Lorient': 347,
 '2021-05-02 15:00:00+02:00 Brest': 348,
 '2021-05-02 17:05:00+02:00 Montpellier': 349,
 '2021-05-02 21:00:00+02:00 Monaco': 350,
 '2021-05-07 21:00:00+02:00 Lens': 351,
 '2021-05-08 13:00:00+02:00 Nantes': 352,
 '2021-05-08 17:00:00+02:00 Lyon': 353,
 '2021-05-09 13:00:00+02:00 Saint-Étienne': 354,
 '2021-05-09 15:00:00+02:00 Strasbourg': 355,
 '2021-05-09 15:00:00+02:00 Metz': 356,
 '2021-05-09 15:00:00+02:00 Nice': 357,
 '2021-05-09 15:00:00+02:00 Angers': 358,
 '2021-05-09 17:05:00+02:00 Reims': 359,
 '2021-05-09 21:00:00+02:00 Rennes': 360,
 '2021-05-16 21:00:00+02:00 Lille': 361,
 '2021-05-16 21:00:00+02:00 Paris': 362,
 '2021-05-16 21:00:00+02:00 Monaco': 363,
 '2021-05-16 21:00:00+02:00 Nîmes': 364,
 '2021-05-16 21:00:00+02:00 Marseille': 365,
 '2021-05-16 21:00:00+02:00 Bordeaux': 366,
 '2021-05-16 21:00:00+02:00 Montpellier': 367,
 '2021-05-16 21:00:00+02:00 Nice': 368,
 '2021-05-16 21:00:00+02:00 Lorient': 369,
 '2021-05-16 21:00:00+02:00 Dijon': 370,
 '2021-05-23 21:00:00+02:00 Angers': 371,
 '2021-05-23 21:00:00+02:00 Brest': 372,
 '2021-05-23 21:00:00+02:00 Lens': 373,
 '2021-05-23 21:00:00+02:00 Lyon': 374,
 '2021-05-23 21:00:00+02:00 Metz': 375,
 '2021-05-23 21:00:00+02:00 Rennes': 376,
 '2021-05-23 21:00:00+02:00 Nantes': 377,
 '2021-05-23 21:00:00+02:00 Saint-Étienne': 378,
 '2021-05-23 21:00:00+02:00 Reims': 379,
 '2021-05-23 21:00:00+02:00 Strasbourg': 380}

In [35]:
teams_matchs_dict = {}
for team in range(len(df_teams_table)):
    team_dict = {
        df_teams_table.iloc[team, 3]: df_teams_table.iloc[team, 0]}
    teams_matchs_dict.update(team_dict)
teams_matchs_dict

{'Angers': 1,
 'Bordeaux': 2,
 'Brest': 3,
 'Dijon': 4,
 'Lens': 5,
 'Lille': 6,
 'Lorient': 7,
 'Lyon': 8,
 'Marseille': 9,
 'Metz': 10,
 'Monaco': 11,
 'Montpellier': 12,
 'Nantes': 13,
 'Nice': 14,
 'Nîmes': 15,
 'Paris': 16,
 'Reims': 17,
 'Rennes': 18,
 'Saint-Étienne': 19,
 'Strasbourg': 20}

In [38]:
df_teams_matches = pd.read_csv('teams_matches_table.csv', index_col=0)
df_teams_matches

,match_id,team_id,home,team_goals,points,created_at,updated_at
0,2020-08-21 19:00:00+02:00 Bordeaux,Bordeaux,True,0,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
1,2020-08-22 17:00:00+02:00 Dijon,Dijon,True,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
2,2020-08-22 21:00:00+02:00 Lille,Lille,True,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
3,2020-08-23 13:00:00+02:00 Monaco,Monaco,True,2,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
4,2020-08-23 15:00:00+02:00 Lorient,Lorient,True,3,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
...,...,...,...,...,...,...,...
755,2021-05-23 21:00:00+02:00 Rennes,Nîmes,False,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
756,2021-05-23 21:00:00+02:00 Nantes,Montpellier,False,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
757,2021-05-23 21:00:00+02:00 Saint-Étienne,Dijon,False,1,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
758,2021-05-23 21:00:00+02:00 Reims,Bordeaux,False,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
759,2021-05-23 21:00:00+02:00 Strasbourg,Lorient,False,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565

In [39]:
df_teams_matches['match_id'] = df_teams_matches['match_id'].map(matchs_dict)
df_teams_matches['team_id'] = df_teams_matches['team_id'].map(teams_matchs_dict)
df_teams_matches

,match_id,team_id,home,team_goals,points,created_at,updated_at
0,1,2,True,0,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
1,2,4,True,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
2,3,6,True,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
3,4,11,True,2,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
4,5,7,True,3,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
...,...,...,...,...,...,...,...
755,376,15,False,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
756,377,12,False,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
757,378,4,False,1,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
758,379,2,False,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
759,380,7,False,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565

In [40]:
#insert_table(df_teams_matches, 'teams_matches')

read_db('SELECT * FROM teams_matches')

,id,match_id,team_id,home,team_goals,points,created_at,updated_at
0,1,1,2,1,0,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
1,2,2,4,1,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
2,3,3,6,1,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
3,4,4,11,1,2,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
4,5,5,7,1,3,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
...,...,...,...,...,...,...,...,...
755,756,376,15,0,0,0,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
756,757,377,12,0,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
757,758,378,4,0,1,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
758,759,379,2,0,2,3,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565
759,760,380,7,0,1,1,2021-07-02 11:07:34.093920,2021-07-02 11:07:34.571565