In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
from datetime import datetime

In [3]:
URL = 'https://www.lequipe.fr/Football/ligue-1/page-participants'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')
results = soup.find_all('ul', class_='clubs')

list_url_clubs = []
for result in results:
    liens_clubs = result.find_all('ul', class_='club-links')
    for liens in liens_clubs:
        list_url_clubs.append(liens)
        
list_liens = []
for club in list_url_clubs:
    lien = club.find('a', class_='link')
    list_liens.append(lien.get('href'))
print(list_liens)

['/Football/FootballFicheClub374.html', '/Football/FootballFicheClub18.html', '/Football/FootballFicheClub267.html', '/Football/FootballFicheClub242.html', '/Football/FootballFicheClub9.html', '/Football/FootballFicheClub43.html', '/Football/FootballFicheClub11.html', '/Football/FootballFicheClub22.html', '/Football/FootballFicheClub6.html', '/Football/FootballFicheClub20.html', '/Football/FootballFicheClub25.html', '/Football/FootballFicheClub17.html', '/Football/FootballFicheClub15.html', '/Football/FootballFicheClub46.html', '/Football/FootballFicheClub26.html', '/Football/FootballFicheClub211.html', '/Football/FootballFicheClub14.html', '/Football/FootballFicheClub38.html', '/Football/FootballFicheClub13.html', '/Football/FootballFicheClub30.html']

In [121]:
list_liens = ['/Football/FootballFicheClub374.html', '/Football/FootballFicheClub18.html', '/Football/FootballFicheClub267.html', '/Football/FootballFicheClub202.html',
              '/Football/FootballFicheClub9.html', '/Football/FootballFicheClub43.html', '/Football/FootballFicheClub11.html', '/Football/FootballFicheClub22.html', 
              '/Football/FootballFicheClub6.html', '/Football/FootballFicheClub20.html', '/Football/FootballFicheClub25.html', '/Football/FootballFicheClub17.html', 
              '/Football/FootballFicheClub15.html', '/Football/FootballFicheClub46.html', '/Football/FootballFicheClub47.html', '/Football/FootballFicheClub26.html', 
              '/Football/FootballFicheClub211.html', '/Football/FootballFicheClub14.html', '/Football/FootballFicheClub38.html', '/Football/FootballFicheClub13.html']

list_dfs = []
for lien in list_liens : 
    dfs = pd.read_html(f'https://www.lequipe.fr{lien}')
    list_dfs.append(dfs)

In [20]:
#dfs = pd.read_html('https://www.lequipe.fr/Football/FootballFicheClub18.html')
print(len(list_dfs))
list_dfs[0][0]

20

                                       0
0  Nom : Angers Sporting Club de l'Ouest
1                        Fondé en : 1919
2               Président : Saïd Chabane
3             Entraineur :Gérald BATICLE

In [21]:
list_dfs[0][1]

                  0
0  D2 : 21969, 1976

In [22]:
list_dfs[0][2]

    Unnamed: 0              Nom Pays     Né le  Pos.
0          1.0    P. Bernardoni  FRA  18/04/97  Gar.
1         16.0       L. Butelle  FRA   3/04/83  Gar.
2         30.0      D. Petkovic  MNE  25/05/93  Gar.
3         25.0         A. Bamba  CIV  25/04/90  Déf.
4         20.0          K. Boma  FRA  20/11/02  Déf.
5          NaN          E. Diaw  SEN  31/12/94  Déf.
6          3.0       S. Doumbia  CIV  24/09/96  Déf.
7          NaN         I. Dramé  FRA       NaN  Déf.
8          6.0        E. Ebosse  FRA  11/03/99  Déf.
9         37.0        O. Falouh  MAR  12/07/99  Déf.
10        29.0       V. Manceau  FRA  10/07/89  Déf.
11         4.0      M. Pavlovic  CRO   9/06/90  Déf.
12        24.0        R. Thomas  FRA  12/06/88  Déf.
13         8.0        I. Traoré  CIV  18/08/86  Déf.
14        18.0        I. Amadou  FRA   6/04/93  Mil.
15         NaN       K. Bemanga  FRA  20/04/98  Mil.
16        23.0      A. Bobichon  FRA  14/09/95  Mil.
17        13.0        S. Boufal  MAR  17/09/93  Mil.
18        11.0         J. Cabot  FRA  18/04/94  Mil.
19        15.0       P. Capelle  FRA  15/04/87  Mil.
20        21.0           M. Cho  FRA  19/01/04  Mil.
21        14.0     L. Coulibaly  MLI  10/04/96  Mil.
22        10.0       A. Fulgini  FRA  20/08/96  Mil.
23         5.0       T. Mangani  FRA  29/04/87  Mil.
24        32.0       K. Mouanga  FRA  24/07/00  Mil.
25        12.0   Z. Ould Khaled  FRA  14/01/00  Mil.
26        27.0  M. Pereira Lage  POR  30/11/96  Mil.
27        26.0         W. Taïbi  FRA   7/03/02  Mil.
28         7.0        R. Alioui  MAR  18/06/92  Att.
29        19.0       S. Bahoken  CAM  28/05/92  Att.
30         9.0         L. Diony  FRA  20/12/92  Att.
31        28.0     F. El-Melali  ALG  13/07/97  Att.
32        17.0         N. Fatar  FRA  15/02/02  Att.
33        32.0       Y. Fortuné  FRA  30/01/99  Att.
34        20.0        S. Thioub  SEN   1/06/95  Att.

In [23]:
list_dfs[0][3]

                                                   0
0                              Calendriers détaillés
1        Calendrier des matches de Angers en Ligue 1
2  Calendrier des matches de Angers en Coupe de F...

In [24]:
list_dfs[0][4]

,0,1,2,3,4
0,Résultats,Résultats,Résultats,Résultats,Résultats
1,22/07/20,MA Matches amicaux L1 Matches amicaux,Cholet,0-1,Angers
2,25/07/20,MA Matches amicaux L1 Matches amicaux,Angers,1-1,Bordeaux
3,28/07/20,MA Matches amicaux L1 Matches amicaux,Angers,1-3,Le Havre
4,1/08/20,MA Matches amicaux L1 Matches amicaux,Rennes,1-0,Angers
5,8/08/20,MA Matches amicaux L1 Matches amicaux,Lorient,0-0,Angers
6,12/08/20,MA Matches amicaux L1 Matches amicaux,Angers,3-2,Le Mans
7,15/08/20,MA Matches amicaux L1 Matches amicaux,Angers,1-0,Saint-Étien.
8,22/08/20,L1 1re journée,Dijon,0-1,Angers
9,30/08/20,L1 2e journée,Angers,0-2,Bordeaux
10,13/09/20,L1 3e journée,Angers,1-0,Reims
11,20/09/20,L1 4e journée,Montpellier,4-1,Angers
12,27/09/20,L1 5e journée,Angers,3-2,Brest
13,2/10/20,L1 6e journée,Paris-SG,6-1,Angers
14,18/10/20,L1 7e journée,Angers,1-1,Metz
15,23/10/20,L1 8e journée,Rennes,1-2,Angers
16,1/11/20,L1 9e journée,Angers,0-3,Nice
17,8/11/20,L1 10e journée,Nîmes,1-5,Angers
18,22/11/20,L1 11e journée,Angers,0-1,Lyon
19,29/11/20,L1 12e journée,Lens,1-3,Angers
20,6/12/20,L1 13e journée,Angers,2-0,Lorient
21,11/12/20,L1 14e journée,Saint-Étien.,0-0,Angers
22,16/12/20,L1 15e journée,Angers,0-2,Strasbourg
23,20/12/20,L1 16e journée,Nantes,1-1,Angers
24,23/12/20,L1 17e journée,Angers,2-1,Marseille
25,6/01/21,L1 18e journée,Lille,1-2,Angers
26,9/01/21,L1 19e journée,Monaco,3-0,Angers
27,16/01/21,L1 20e journée,Angers,0-1,Paris-SG
28,24/01/21,L1 21e journée,Bordeaux,2-1,Angers
29,31/01/21,L1 22e journée,Angers,3-1,Nîmes
30,3/02/21,L1 23e journée,Reims,0-0,Angers
31,7/02/21,L1 24e journée,Nice,3-0,Angers
32,11/02/21,CO 32es de f.,Angers,2-1,Rennes
33,14/02/21,L1 25e journée,Angers,1-3,Nantes
34,21/02/21,L1 26e journée,Strasbourg,0-0,Angers
35,28/02/21,L1 27e journée,Angers,2-2,Lens
36,3/03/21,L1 28e journée,Metz,0-1,Angers
37,7/03/21,CO 16es de f.,Angers,5-0,Club Franciscain
38,13/03/21,L1 29e journée,Angers,0-1,Saint-Étien.
39,21/03/21,L1 30e journée,Brest,0-0,Angers
40,4/04/21,L1 31e journée,Angers,1-1,Montpellier
41,7/04/21,CO 8es de f.,Sedan,0-1,Angers
42,11/04/21,L1 32e journée,Lyon,3-0,Angers
43,17/04/21,L1 33e journée,Angers,0-3,Rennes
44,21/04/21,CO Quarts de f.,Paris-SG,5-0,Angers
45,25/04/21,L1 34e journée,Angers,0-1,Monaco
46,2/05/21,L1 35e journée,Lorient,2-0,Angers
47,9/05/21,L1 36e journée,Angers,3-0,Dijon
48,16/05/21,L1 37e journée,Marseille,3-2,Angers
49,23/05/21,L1 38e journée,Angers,1-2,Lille

In [25]:
list_dfs[0][5]

                                                   0
0                           Site : www.angers-sco.fr
1                                      Statut : SASP
2  Siège : 58 promenade de la BaumetteBP 20212490...

In [26]:
list_dfs[0][6]

                                                   0
0                               Stade : Raymond-Kopa
1                            Capacité : 18752 places
2  Adresse du stade : 11 boulevard Pierre-de-Coub...
3                        Tél. Stade : 02 41 47 46 90

In [27]:
list_dfs[1][2]

    Unnamed: 0                 Nom Pays     Né le  Pos.
0          1.0           B. Costil  FRA   3/07/87  Gar.
1         30.0      D. Lima Semedo  FRA  27/04/02  Gar.
2         50.0           C. Michel  BEL  20/03/00  Gar.
3         16.0          G. Poussin  FRA  13/01/99  Gar.
4         40.0          D. Rouyard  FRA  17/08/99  Gar.
5         24.0           P. Baysse  FRA  18/05/88  Déf.
6         23.0           L. Benito  SUI   7/01/92  Déf.
7         21.0          L. Bessilé  FRA  19/02/99  Déf.
8         34.0     M. Bokélé Mputu  FRA  12/02/00  Déf.
9         34.0          D. Cardoso  MAO  13/12/94  Déf.
10        14.0        V. Jovanovic  SER  17/05/96  Déf.
11         6.0        L. Koscielny  FRA  10/09/85  Déf.
12        25.0          E. Kwateng  FRA   9/04/97  Déf.
13         4.0            E. Mexer  MOZ   8/09/88  Déf.
14        29.0          M. Poundjé  FRA  16/08/92  Déf.
15        20.0           Y. Sabaly  SEN   5/03/93  Déf.
16        35.0              I. Sow  FRA  19/02/01  Déf.
17        19.0             Y. Adli  FRA  29/07/00  Mil.
18        26.0            T. Basic  CRO  25/11/96  Mil.
19        27.0           T. Lacoux  FRA  25/01/02  Mil.
20         5.0              Otavio  BRE   4/05/94  Mil.
21        15.0             J. Seri  CIV  19/07/91  Mil.
22         NaN         I. Sissokho  MLI  30/01/02  Mil.
23        17.0          M. Zerkane  FRA  15/07/99  Mil.
24        32.0            D. Bakwa  FRA  26/08/02  Att.
25         8.0         H. Ben Arfa  FRA   7/03/87  Att.
26         7.0           J. Briand  FRA   2/08/85  Att.
27        12.0      N. De Préville  FRA   8/01/91  Att.
28        37.0  L. Delaurier-Ch...  FRA  22/04/02  Att.
29        39.0           I. Diarra  FRA  19/05/98  Att.
30        18.0            U. Hwang  CDS  28/08/92  Att.
31        10.0             S. Kalu  NGA  26/08/97  Att.
32        36.0             S. Mara  FRA  30/07/02  Att.
33        28.0            R. Oudin  FRA  18/11/96  Att.
34        31.0           A. Traoré  FRA   7/03/02  Att.

In [28]:
df_classement = pd.read_html('https://www.lequipe.fr/Football/ligue-1/saison-2020-2021/page-classement-equipes/general')[0]
df_classement = df_classement.rename(columns={'Unnamed: 1':'Equipe'})
df_rank = df_classement[['Equipe','pts']]
df_rank

           Equipe  pts
0           Lille   83
1        Paris-SG   82
2          Monaco   78
3            Lyon   76
4       Marseille   60
5          Rennes   58
6            Lens   57
7     Montpellier   54
8            Nice   52
9            Metz   47
10  Saint-Étienne   46
11       Bordeaux   45
12         Angers   44
13          Reims   42
14     Strasbourg   42
15        Lorient   42
16          Brest   41
17         Nantes   40
18          Nîmes   35
19          Dijon   21

In [29]:
df_classement = pd.read_html('https://www.lequipe.fr/Football/ligue-1/saison-2020-2021/page-classement-equipes/general')[0]
df_classement = df_classement.rename(columns={'Unnamed: 1':'Equipe'})
df_rank = df_classement[['Equipe','pts']]
df_rank = df_rank.sort_values(by='Equipe').reset_index()
df_rank

    index         Equipe  pts
0      12         Angers   44
1      11       Bordeaux   45
2      16          Brest   41
3      19          Dijon   21
4       6           Lens   57
5       0          Lille   83
6      15        Lorient   42
7       3           Lyon   76
8       4      Marseille   60
9       9           Metz   47
10      2         Monaco   78
11      7    Montpellier   54
12     17         Nantes   40
13      8           Nice   52
14     18          Nîmes   35
15      1       Paris-SG   82
16     13          Reims   42
17      5         Rennes   58
18     10  Saint-Étienne   46
19     14     Strasbourg   42

In [30]:
rows_teams = []
for i in range(len(list_dfs)):
    dict_teams = {}
    dict_teams['name'] = list_dfs[i][0][0][0].split(':')[1].strip()
    dict_teams['coach_name'] = list_dfs[i][0][0][3].split(':')[1].strip()
    rows_teams.append(dict_teams)
#list_dfs[0][0][0][3].split(':')[1].strip()
rows_teams

[{'name': "Angers Sporting Club de l'Ouest", 'coach_name': 'Gérald BATICLE'},
 {'name': 'Football Club des Girondins de Bordeaux',
  'coach_name': 'Jean-Louis GASSET'},
 {'name': 'Stade Brestois 29', 'coach_name': 'Michel DER ZAKARIAN'},
 {'name': "Dijon Football Côte-d'Or", 'coach_name': 'David LINARES'},
 {'name': 'Racing Club de Lens', 'coach_name': 'Franck HAISE'},
 {'name': 'LOSC Lille', 'coach_name': 'Christophe GALTIER'},
 {'name': 'Football Club Lorient-Bretagne Sud',
  'coach_name': 'Christophe PELISSIER'},
 {'name': 'Olympique Lyonnais', 'coach_name': 'Peter BOSZ'},
 {'name': 'Olympique de Marseille', 'coach_name': 'Jorge SAMPAOLI'},
 {'name': 'Football Club de Metz', 'coach_name': 'Frédéric ANTONETTI'},
 {'name': 'Association sportive de Monaco FC', 'coach_name': 'Niko KOVAC'},
 {'name': 'Montpellier-Herault Sport Club',
  'coach_name': "Olivier DALL'OGLIO"},
 {'name': 'Football Club de Nantes', 'coach_name': 'Antoine KOMBOUARE'},
 {'name': "Olympique Gymnaste Club Nice Côte d'Azur",
  'coach_name': 'Adrian URSEA'},
 {'name': 'Nîmes Olympique', 'coach_name': 'Pascal PLANCQUE'},
 {'name': 'Paris-Saint-Germain Football Club',
  'coach_name': 'Mauricio POCHETTINO'},
 {'name': 'Stade de Reims', 'coach_name': 'Oscar GARCIA'},
 {'name': 'Stade Rennais Football Club', 'coach_name': 'Bruno GENESIO'},
 {'name': 'Association Sportive de St-Etienne', 'coach_name': 'Claude PUEL'},
 {'name': 'Racing Club de Strasbourg Alsace', 'coach_name': 'Julien STEPHAN'}]

In [41]:
df_teams = pd.DataFrame(rows_teams)
df_teams

                                        name            coach_name
0            Angers Sporting Club de l'Ouest        Gérald BATICLE
1    Football Club des Girondins de Bordeaux     Jean-Louis GASSET
2                          Stade Brestois 29   Michel DER ZAKARIAN
3                   Dijon Football Côte-d'Or         David LINARES
4                        Racing Club de Lens          Franck HAISE
5                                 LOSC Lille    Christophe GALTIER
6         Football Club Lorient-Bretagne Sud  Christophe PELISSIER
7                         Olympique Lyonnais            Peter BOSZ
8                     Olympique de Marseille        Jorge SAMPAOLI
9                      Football Club de Metz    Frédéric ANTONETTI
10         Association sportive de Monaco FC            Niko KOVAC
11            Montpellier-Herault Sport Club    Olivier DALL'OGLIO
12                   Football Club de Nantes     Antoine KOMBOUARE
13  Olympique Gymnaste Club Nice Côte d'Azur          Adrian URSEA
14                           Nîmes Olympique       Pascal PLANCQUE
15         Paris-Saint-Germain Football Club   Mauricio POCHETTINO
16                            Stade de Reims          Oscar GARCIA
17               Stade Rennais Football Club         Bruno GENESIO
18        Association Sportive de St-Etienne           Claude PUEL
19          Racing Club de Strasbourg Alsace        Julien STEPHAN

In [42]:
df_teams.insert(1,'city',df_rank['Equipe'])
df_teams.insert(3,'rank', df_rank['pts'])
df_teams.insert(0,'championship_id', 'Ligue 1')
df_teams['created_at'] = datetime.now()
df_teams['updated_at'] = datetime.now()

df_teams

,championship_id,name,city,coach_name,rank,created_at,updated_at
0,Ligue 1,Angers Sporting Club de l'Ouest,Angers,Gérald BATICLE,44,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
1,Ligue 1,Football Club des Girondins de Bordeaux,Bordeaux,Jean-Louis GASSET,45,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
2,Ligue 1,Stade Brestois 29,Brest,Michel DER ZAKARIAN,41,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
3,Ligue 1,Dijon Football Côte-d'Or,Dijon,David LINARES,21,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
4,Ligue 1,Racing Club de Lens,Lens,Franck HAISE,57,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
5,Ligue 1,LOSC Lille,Lille,Christophe GALTIER,83,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
6,Ligue 1,Football Club Lorient-Bretagne Sud,Lorient,Christophe PELISSIER,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
7,Ligue 1,Olympique Lyonnais,Lyon,Peter BOSZ,76,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
8,Ligue 1,Olympique de Marseille,Marseille,Jorge SAMPAOLI,60,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
9,Ligue 1,Football Club de Metz,Metz,Frédéric ANTONETTI,47,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
10,Ligue 1,Association sportive de Monaco FC,Monaco,Niko KOVAC,78,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
11,Ligue 1,Montpellier-Herault Sport Club,Montpellier,Olivier DALL'OGLIO,54,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
12,Ligue 1,Football Club de Nantes,Nantes,Antoine KOMBOUARE,40,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
13,Ligue 1,Olympique Gymnaste Club Nice Côte d'Azur,Nice,Adrian URSEA,52,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
14,Ligue 1,Nîmes Olympique,Nîmes,Pascal PLANCQUE,35,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
15,Ligue 1,Paris-Saint-Germain Football Club,Paris-SG,Mauricio POCHETTINO,82,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
16,Ligue 1,Stade de Reims,Reims,Oscar GARCIA,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
17,Ligue 1,Stade Rennais Football Club,Rennes,Bruno GENESIO,58,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
18,Ligue 1,Association Sportive de St-Etienne,Saint-Étienne,Claude PUEL,46,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
19,Ligue 1,Racing Club de Strasbourg Alsace,Strasbourg,Julien STEPHAN,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113

In [46]:
df_teams.at[15, 'city'] = 'Paris'
df_teams

,championship_id,name,city,coach_name,rank,created_at,updated_at
0,Ligue 1,Angers Sporting Club de l'Ouest,Angers,Gérald BATICLE,44,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
1,Ligue 1,Football Club des Girondins de Bordeaux,Bordeaux,Jean-Louis GASSET,45,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
2,Ligue 1,Stade Brestois 29,Brest,Michel DER ZAKARIAN,41,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
3,Ligue 1,Dijon Football Côte-d'Or,Dijon,David LINARES,21,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
4,Ligue 1,Racing Club de Lens,Lens,Franck HAISE,57,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
5,Ligue 1,LOSC Lille,Lille,Christophe GALTIER,83,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
6,Ligue 1,Football Club Lorient-Bretagne Sud,Lorient,Christophe PELISSIER,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
7,Ligue 1,Olympique Lyonnais,Lyon,Peter BOSZ,76,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
8,Ligue 1,Olympique de Marseille,Marseille,Jorge SAMPAOLI,60,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
9,Ligue 1,Football Club de Metz,Metz,Frédéric ANTONETTI,47,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
10,Ligue 1,Association sportive de Monaco FC,Monaco,Niko KOVAC,78,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
11,Ligue 1,Montpellier-Herault Sport Club,Montpellier,Olivier DALL'OGLIO,54,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
12,Ligue 1,Football Club de Nantes,Nantes,Antoine KOMBOUARE,40,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
13,Ligue 1,Olympique Gymnaste Club Nice Côte d'Azur,Nice,Adrian URSEA,52,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
14,Ligue 1,Nîmes Olympique,Nîmes,Pascal PLANCQUE,35,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
15,Ligue 1,Paris-Saint-Germain Football Club,Paris,Mauricio POCHETTINO,82,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
16,Ligue 1,Stade de Reims,Reims,Oscar GARCIA,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
17,Ligue 1,Stade Rennais Football Club,Rennes,Bruno GENESIO,58,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
18,Ligue 1,Association Sportive de St-Etienne,Saint-Étienne,Claude PUEL,46,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113
19,Ligue 1,Racing Club de Strasbourg Alsace,Strasbourg,Julien STEPHAN,42,2021-07-01 11:24:36.283421,2021-07-01 11:24:36.285113

In [47]:
df_teams.to_csv('table_teams.csv')

In [119]:
# list_dfs[0][2].set_axis(['num','full_name','nationality','birthdate','position'], axis=1, inplace=True)
# list_dfs[0][2]

    test             name nationality birthdate position
0    1.0    P. Bernardoni         FRA  18/04/97     Gar.
1   16.0       L. Butelle         FRA   3/04/83     Gar.
2   30.0      D. Petkovic         MNE  25/05/93     Gar.
3   25.0         A. Bamba         CIV  25/04/90     Déf.
4   20.0          K. Boma         FRA  20/11/02     Déf.
5    NaN          E. Diaw         SEN  31/12/94     Déf.
6    3.0       S. Doumbia         CIV  24/09/96     Déf.
7    NaN         I. Dramé         FRA       NaN     Déf.
8    6.0        E. Ebosse         FRA  11/03/99     Déf.
9   37.0        O. Falouh         MAR  12/07/99     Déf.
10  29.0       V. Manceau         FRA  10/07/89     Déf.
11   4.0      M. Pavlovic         CRO   9/06/90     Déf.
12  24.0        R. Thomas         FRA  12/06/88     Déf.
13   8.0        I. Traoré         CIV  18/08/86     Déf.
14  18.0        I. Amadou         FRA   6/04/93     Mil.
15   NaN       K. Bemanga         FRA  20/04/98     Mil.
16  23.0      A. Bobichon         FRA  14/09/95     Mil.
17  13.0        S. Boufal         MAR  17/09/93     Mil.
18  11.0         J. Cabot         FRA  18/04/94     Mil.
19  15.0       P. Capelle         FRA  15/04/87     Mil.
20  21.0           M. Cho         FRA  19/01/04     Mil.
21  14.0     L. Coulibaly         MLI  10/04/96     Mil.
22  10.0       A. Fulgini         FRA  20/08/96     Mil.
23   5.0       T. Mangani         FRA  29/04/87     Mil.
24  32.0       K. Mouanga         FRA  24/07/00     Mil.
25  12.0   Z. Ould Khaled         FRA  14/01/00     Mil.
26  27.0  M. Pereira Lage         POR  30/11/96     Mil.
27  26.0         W. Taïbi         FRA   7/03/02     Mil.
28   7.0        R. Alioui         MAR  18/06/92     Att.
29  19.0       S. Bahoken         CAM  28/05/92     Att.
30   9.0         L. Diony         FRA  20/12/92     Att.
31  28.0     F. El-Melali         ALG  13/07/97     Att.
32  17.0         N. Fatar         FRA  15/02/02     Att.
33  32.0       Y. Fortuné         FRA  30/01/99     Att.
34  20.0        S. Thioub         SEN   1/06/95     Att.

In [131]:
rows_players = []
for i in range(len(list_dfs)):
    try:
        for j in range(len(list_dfs[i][2]['Nom'])):
            list_dfs[i][2].set_axis(
                ['num', 'Nom', 'nationality', 'birthdate', 'position'], axis=1, inplace=True)
            dict_players = {}
            dict_players['full_name'] = list_dfs[i][2]['Nom'][j]
            dict_players['birthdate'] = list_dfs[i][2]['birthdate'][j]
            dict_players['team_id'] = list_dfs[i][0][0][0].split(':')[1].strip()
            dict_players['position'] = list_dfs[i][2]['position'][j]
            dict_players['nationality'] = list_dfs[i][2]['nationality'][j]
            rows_players.append(dict_players)
    except:
        for j in range(len(list_dfs[i][1]['Nom'])):
            list_dfs[i][1].set_axis(
              ['num', 'Nom', 'nationality', 'birthdate', 'position'], axis=1, inplace=True)
            dict_players = {}
            dict_players['full_name'] = list_dfs[i][1]['Nom'][j]
            dict_players['birthdate'] = list_dfs[i][1]['birthdate'][j]
            dict_players['team_id'] = list_dfs[i][0][0][0].split(':')[1].strip()
            dict_players['position'] = list_dfs[i][1]['position'][j]
            dict_players['nationality'] = list_dfs[i][1]['nationality'][j]
            rows_players.append(dict_players)
rows_players[0]

{'full_name': 'P. Bernardoni',
 'birthdate': '18/04/97',
 'team_id': "Angers Sporting Club de l'Ouest",
 'position': 'Gar.',
 'nationality': 'FRA'}

In [134]:
df_players = pd.DataFrame(rows_players)
df_players

,full_name,birthdate,team_id,position,nationality
0,P. Bernardoni,18/04/97,Angers Sporting Club de l'Ouest,Gar.,FRA
1,L. Butelle,3/04/83,Angers Sporting Club de l'Ouest,Gar.,FRA
2,D. Petkovic,25/05/93,Angers Sporting Club de l'Ouest,Gar.,MNE
3,A. Bamba,25/04/90,Angers Sporting Club de l'Ouest,Déf.,CIV
4,K. Boma,20/11/02,Angers Sporting Club de l'Ouest,Déf.,FRA
...,...,...,...,...,...
642,L. Mothiba,28/01/96,Racing Club de Strasbourg Alsace,Att.,AFS
643,I. Saadi,8/02/92,Racing Club de Strasbourg Alsace,Att.,ALG
644,M. Sahi,20/12/01,Racing Club de Strasbourg Alsace,Att.,MLI
645,A. Waris,19/09/91,Racing Club de Strasbourg Alsace,Att.,GHA
646,K. Zohi,19/12/96,Racing Club de Strasbourg Alsace,Att.,CIV

In [135]:
df_players['created_at'] = datetime.now()
df_players['updated_at'] = datetime.now()
df_players

,full_name,birthdate,team_id,position,nationality,created_at,updated_at
0,P. Bernardoni,18/04/97,Angers Sporting Club de l'Ouest,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
1,L. Butelle,3/04/83,Angers Sporting Club de l'Ouest,Gar.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
2,D. Petkovic,25/05/93,Angers Sporting Club de l'Ouest,Gar.,MNE,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
3,A. Bamba,25/04/90,Angers Sporting Club de l'Ouest,Déf.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
4,K. Boma,20/11/02,Angers Sporting Club de l'Ouest,Déf.,FRA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
...,...,...,...,...,...,...,...
642,L. Mothiba,28/01/96,Racing Club de Strasbourg Alsace,Att.,AFS,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
643,I. Saadi,8/02/92,Racing Club de Strasbourg Alsace,Att.,ALG,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
644,M. Sahi,20/12/01,Racing Club de Strasbourg Alsace,Att.,MLI,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
645,A. Waris,19/09/91,Racing Club de Strasbourg Alsace,Att.,GHA,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645
646,K. Zohi,19/12/96,Racing Club de Strasbourg Alsace,Att.,CIV,2021-07-01 15:52:08.103040,2021-07-01 15:52:10.274645

In [136]:
df_players.to_csv('table_players.csv')