In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup
import json

In [2]:
URL = 'https://www.lequipe.fr/Football/ligue-1/saison-2020-2021/page-calendrier-resultats'
page = requests.get(URL)
soup = BeautifulSoup(page.content, 'html.parser')
results = soup.find_all('select', class_='SelectNav__select')

In [3]:
list_url_journey = []
for result in results:
    liens_journey = result.find_all('option')
    for liens in liens_journey:
        list_url_journey.append(liens.get('value'))

In [14]:
row_list = []
for url_journey in list_url_journey:
    journey = pd.read_json(url_journey, lines=True)
    for match in journey['items'][0]:
        try:
            if len(match['items']) == 1:
                match_dict={}
                match_dict['place'] = match['items'][0]['event']['lieu']['ville']
                match_dict['date'] = match['items'][0]['event']['date']
                match_dict['dom_name'] = match['items'][0]['event']['specifics']['domicile']['equipe']['nom']
                match_dict['ext_name'] = match['items'][0]['event']['specifics']['exterieur']['equipe']['nom']
                match_dict['but_dom'] = match['items'][0]['event']['specifics']['score']['domicile']
                match_dict['but_ext'] = match['items'][0]['event']['specifics']['score']['exterieur']
                match_dict['winner'] = match['items'][0]['event']['specifics']['vainqueur']
                row_list.append(match_dict)
            elif len(match['items']) > 1:
                for m in range(len(match['items'])):
                    match_dict={}
                    match_dict['place'] = match['items'][m]['event']['lieu']['ville']
                    match_dict['date'] = match['items'][m]['event']['date']
                    match_dict['dom_name'] = match['items'][m]['event']['specifics']['domicile']['equipe']['nom']
                    match_dict['ext_name'] = match['items'][m]['event']['specifics']['exterieur']['equipe']['nom']
                    match_dict['but_dom'] = match['items'][m]['event']['specifics']['score']['domicile']
                    match_dict['but_ext'] = match['items'][m]['event']['specifics']['score']['exterieur']
                    match_dict['winner'] = match['items'][m]['event']['specifics']['vainqueur']
                    row_list.append(match_dict)
        except:
            pass

data = pd.DataFrame(row_list)

In [16]:
data.shape

(380, 7)

In [17]:
data.head()

,place,date,dom_name,ext_name,but_dom,but_ext,winner
0,Bordeaux,2020-08-21T19:00:00+0200,Bordeaux,Nantes,0,0,ex-aequo
1,Dijon,2020-08-22T17:00:00+0200,Dijon,Angers,0,1,exterieur
2,Lille,2020-08-22T21:00:00+0200,Lille,Rennes,1,1,ex-aequo
3,Monaco,2020-08-23T13:00:00+0200,Monaco,Reims,2,2,ex-aequo
4,Lorient,2020-08-23T15:00:00+0200,Lorient,Strasbourg,3,1,domicile